<!--月卡统计-->
<style>
    .form-inline .form-group {
        margin-bottom: 15px;
    }

    .checkbox label {
        font-weight: 700;
        margin-right: 15px;
    }
    table tr th,
    table tr td {
        text-align: left;
    }
</style>

<div id="angularId" ng-controller="monthCardStatisticsCtrl">
    <div class="page-title">
        <div class="title_left">
            <h3>月卡统计</h3>
        </div>
    </div>
    <div class="x_panel">
        <div class="form-inline">

            <div class="form-group">
                <label>城市位置：</label>
                <select class="form-control" ng-model="search.city"
                        ng-options="o[0] as o[1] for o in cities">
                    <option value="" selected>选择城市</option>
                </select>
            </div>

            <div class="form-group">
                <label>选择车场：</label>
                <select class="form-control" ng-model="search.parklot"
                        ng-options="o[0] as o[1] for o in parklots">
                    <option value="" selected>选择车场</option>
                </select>
            </div>

            <div class="form-group">
                <label>是否过期：</label>
                <select class="form-control" ng-model="search.isvalid"
                        ng-options="o[0] as o[1] for o in isvalidList">
                    <option value="" selected>请选择</option>
                </select>
            </div>

            <div class="form-group">
                <label>车主姓名：</label>
                <input type="text" ng-model="search.name" class="form-control" placeholder="输入车主姓名"/>
            </div>

            <div class="form-group">
                <label>车牌号：</label>
                <input type="text" ng-model="search.carno" class="form-control" placeholder="输入车牌号"/>
            </div>

            <br/>

            <div class="form-group">
                <label>缴费时间：</label>
                <input type="datetime" id="payStartTime"
                       class="form-control Wdate ng-pristine ng-valid ng-empty ng-touched ng-untouched"
                       placeholder="缴费开始时间"
                       ng-model="search.startTime" onchange=""
                       onclick="javascript:WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:&quot;#F{$('#payEndTime').val()||'%y-%M-%d %H:%i:%s'}&quot;})"
                       aria-invalid="false">
            </div>
            <div class="form-group">
                <span> - </span>
            </div>
            <div class="form-group">
                <input type="datetime" id="payEndTime"
                       class="form-control Wdate ng-pristine ng-valid ng-empty ng-touched ng-untouched"
                       placeholder="缴费结束时间"
                       ng-model="search.endTime" onchange=""
                       onclick="javascript:WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:&quot;#F{$('payStartTime').val()}&quot;})"
                       aria-invalid="false">
            </div>

            <div class="form-group">
                <label>月卡类型：</label>
                <select class="form-control" ng-model="search.monthcardType"
                        ng-options="o[0] as o[1] for o in monthCardTypeList">
                    <option value="" selected>请选择</option>
                </select>
            </div>

            <p>
                <span class="label label-primary">总月卡辆：{{count.totalNum||"0"}}辆</span>
                <span class="label label-success">充值应缴总金额：{{((count.totalMoney/100)|number:2)||"0.00"}}元</span>

                <button class="btn btn-danger pull-right" ng-click="export()">批量导出</button>
                <button class="btn btn-primary pull-right" ng-click="find()">查询</button>
            </p>
        </div>
    </div>

    <!--车主名称、手机号、车牌号码、所属车场、房间号、卡号、缴费时间、充值金额、开始时间、结束时间、车牌类型、月卡类型、是否过期、审核、备注、收费员-->
    <div class="panel panel-default" style="display: grid;">
        <div class="panel-body" style="overflow: scroll;">
            <table class="table table-striped table-hover" style="margin-top: 10px">
                <thead>
                <tr>
                    <th class="text-center">NO</th>
                    <th class="danger" nowrap>车主名称</th>
                    <th class="danger" nowrap>手机号</th>
                    <th nowrap>车牌号码</th>
                    <th nowrap>所属车场</th>
                    <th class="danger" nowrap>房间号</th>
                    <th class="danger" nowrap>卡号</th>
                    <th class="danger" nowrap>缴费时间</th>
                    <th class="danger" nowrap>充值金额</th>
                    <th class="danger" nowrap>车牌类型</th>
                    <th class="danger" nowrap>月卡类型</th>
                    <th class="danger" nowrap>是否过期</th>
                    <th class="danger" nowrap>审核</th>
                    <th class="danger" nowrap>备注</th>
                    <th class="danger" nowrap>收费员</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-if="pageModel.list.length == 0">
                    <td colspan="100" class="text-center">暂无记录</td>
                </tr>
                <tr ng-repeat="item in pageModel.list">
                    <td class="text-center">{{$index + 1+pageModel.pageSize*pageModel.pageIndex}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.phone}}</td>
                    <td>{{item.carNo}}</td>
                    <td>{{item.parklotName}}</td>
                    <td>{{item.roomNo||""}}</td>
                    <td>{{item.cardNo}}</td>
                    <td>{{item.payTime}}</td>
                    <td>{{item.payMoney/100.0 | number:2}}</td>
                    <td>{{item.carCardType|keyToValue:parklotCarCardTypeDict}}</td>
                    <td>{{item.monthcardType|keyToValue:parklotMonthCardTypeDict}}</td>
                    <td>{{item.isvalidText}}</td>
                    <td>{{item.ispassText}}</td>
                    <td>{{item.mark}}</td>
                    <td>{{item.worker}}</td>
                </tr>
                </tbody>
            </table>
            <div class="page-footer clearfix">
                <ng-include src="'/common/pager.html'"></ng-include>
            </div>
        </div>
    </div>

</div>
</div>

