<!-- 题库管理 -->
<div ng-controller="subjectCtrl">
    <div class="aList clearfix">
        <span ng-click="changeIndex(0)" ng-class="{'btn-link_ac':slectedIndex =='0'}">{{pid==0?'公共':'部门'}}题库</span>
        <span ng-click="changeIndex(1)" ng-class="{'btn-link_ac':slectedIndex =='1'}">其他题库</span>
    </div>
    <div ng-if="slectedIndex =='0'">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">知识体系分类 <span ng-click='addTopNode()' class='btn-success btn-xs pull-right'
                            ng-show="pid==0"><span class='fa fa-plus'></span> 新增</span>
                    </div>
                    <div class="x_content" style="z-index: 1;max-height: 700px; overflow: auto">
                        <div class="alert" role="alert" ng-if="treeClass && treeClass.length==0">无信息</div>
                        <tree-view-pro node-list="treeClass" host="search" host-text="'text'" host-key="'id'"
                            callback="selectNode" config="config1"></tree-view-pro>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12" style="padding:0">
                <div class="x_panel">
                    <div class="form-inline">
                        <div class="form-group" style="padding:5px;">
                            <input type="text" ng-model="search.question" class="form-control" placeholder="输入题目" />
                        </div>

                        <i role="button" ng-click="checkType(1)"
                            ng-class="{'glyphicon-check':typeList.indexOf(1)!==-1,'glyphicon-unchecked':typeList.indexOf(1)==-1}"
                            class="glyphicon"></i>单选题
                        <i role="button" ng-click="checkType(2)"
                            ng-class="{'glyphicon-check':typeList.indexOf(2)!==-1,'glyphicon-unchecked':typeList.indexOf(2)==-1}"
                            class="glyphicon"></i>多选题
                        <i role="button" ng-click="checkType(3)"
                            ng-class="{'glyphicon-check':typeList.indexOf(3)!==-1,'glyphicon-unchecked':typeList.indexOf(3)==-1}"
                            class="glyphicon"></i>判断题
                        <i role="button" ng-click="checkType(4)"
                            ng-class="{'glyphicon-check':typeList.indexOf(4)!==-1,'glyphicon-unchecked':typeList.indexOf(4)==-1}"
                            class="glyphicon"></i>填空题
                        <i role="button" ng-click="checkType(5)"
                            ng-class="{'glyphicon-check':typeList.indexOf(5)!==-1,'glyphicon-unchecked':typeList.indexOf(5)==-1}"
                            class="glyphicon"></i>问答题
                        <button class="btn btn-default" ng-click="find(1)" style="margin-left: 10px;">查询</button>
                    </div>
                </div>
                <div class="panel panel-default" style="display: grid;">
                    <div class="panel-heading"> 题库列表
                        <button class="btn btn-danger pull-right" ng-disabled="!hasChecked(pageModel)"
                            ng-click="delAll()">批量删除</button>
                        <button class="btn btn-success pull-right" ng-click="showEditModal()" ng-disabled="treeClass.length==0">新增</button>
                        <button class="btn pull-right" ng-click="openAll()" ng-if="pid==0"
                            ng-disabled="!hasChecked(pageModel)">批量公开</button>
                        <button class="btn pull-right" ng-click="moveEditModal()"
                            ng-disabled="!hasChecked(pageModel)">移动</button>
                        <button class="btn  btn-success  pull-right" ng-click="uploadText()">导入</button>
                        <button class="btn  btn-success  pull-right" ng-click="downloadFile()">下载模板</button>
                    </div>
                    <div class="panel-body" style="overflow: scroll;">
                        <table class="table table-striped table-hover" style="margin-top: 10px;">
                            <thead>
                                <tr>
                                    <!-- <th class="text-center">NO</th> -->
                                    <th class="text-center" style="width:20px"><span role="button"
                                            ng-click="checkAll(pageModel)">
                                            <i class="glyphicon"
                                                ng-class="{'glyphicon-check':pageModel.checked,'glyphicon-unchecked':!pageModel.checked}"></i></span>
                                    </th>
                                    <th nowrap="nowrap">类型</th>
                                    <th nowrap="nowrap">题目</th>
                                    <th nowrap="nowrap">创建日期</th>
                                    <th ng-if="pid==0" nowrap="nowrap">公开</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="!pageModel.data  || pageModel.data.length == 0">
                                    <td colspan="100" class="text-center">暂无记录</td>
                                </tr>
                                <tr ng-repeat="item in pageModel.data">
                                    <!-- <td class="text-center">{{$index + 1+pageModel.pageSize*pageModel.pageIndex}}</td> -->
                                    <td><i role="button" ng-click="checkOne(item)"
                                            ng-class="{'glyphicon-check':item.checked,'glyphicon-unchecked':!item.checked}"
                                            class="glyphicon"></i></td>
                                    <td style="min-width: 60px;">{{item.typeName}}</td>
                                    <td style="word-break: break-all;">{{item.question}}</td>
                                    <td style="min-width: 145px;">{{item.createTime}}</td>
                                    <!-- <td ng-if="pid==0">
                                                        <ul class="isPublic" ng-click="isPublic(item)">
                                                            <li ng-class="item.isPublic==1?'public':'noPublic'" ></li>
                                                            <li class="right"></li>
                                                        </ul>
                                                    </td> -->
                                    <td ng-if="pid==0"><a href='javascript:void(0)' ng-click='isPublic(item)'
                                            class='btn btn-xs'><span style="font-size: 21px;color: green;"
                                                ng-class="{1:'fa fa-toggle-on',0:'fa fa-toggle-off'}[item.isPublic]"></span></a>
                                    </td>

                                    <td style="min-width: 145px;">
                                        <a href='javascript:void(0)' ng-click="showEditModal(item,true)"
                                            class='btn btn-xs'><span class='fa fa-eye'></span>查看详情</a>
                                        <a href='javascript:void(0)' ng-click='showEditModal(item)'
                                            class='btn btn-xs'><span class='fa fa-edit'></span>编辑</a>
                                        <a href='javascript:void(0)' ng-click='del(item)' class='btn btn-xs'><span
                                                class='fa fa-trash'></span>删除</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="page-footer clearfix">
                            <ng-include src="'/common/pager.html'"></ng-include>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div ng-if="slectedIndex=='1'">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">知识体系分类
                    </div>
                    <div class="x_content" style="z-index: 1;max-height: 700px; overflow: auto">
                        <div class="alert" role="alert" ng-if="deptTree && deptTree.length==0">无信息</div>
                        <tree-view-pro node-list="treeClass" host="search" host-text="'text'" host-key="'id'"
                            callback="selectNode" config="config"></tree-view-pro>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12" style="padding:0">
                <div class="x_panel">
                    <div class="form-inline">
                        <div class="form-group" style="padding:5px;">
                            <input type="text" ng-model="search.question" class="form-control" placeholder="输入题目" />
                        </div>
                        <i role="button" ng-click="checkType(1)"
                            ng-class="{'glyphicon-check':typeList.indexOf(1)!==-1,'glyphicon-unchecked':typeList.indexOf(1)==-1}"
                            class="glyphicon"></i>单选题
                        <i role="button" ng-click="checkType(2)"
                            ng-class="{'glyphicon-check':typeList.indexOf(2)!==-1,'glyphicon-unchecked':typeList.indexOf(2)==-1}"
                            class="glyphicon"></i>多选题
                        <i role="button" ng-click="checkType(3)"
                            ng-class="{'glyphicon-check':typeList.indexOf(3)!==-1,'glyphicon-unchecked':typeList.indexOf(3)==-1}"
                            class="glyphicon"></i>判断题
                        <i role="button" ng-click="checkType(4)"
                            ng-class="{'glyphicon-check':typeList.indexOf(4)!==-1,'glyphicon-unchecked':typeList.indexOf(4)==-1}"
                            class="glyphicon"></i>填空题
                        <i role="button" ng-click="checkType(5)"
                            ng-class="{'glyphicon-check':typeList.indexOf(5)!==-1,'glyphicon-unchecked':typeList.indexOf(5)==-1}"
                            class="glyphicon"></i>问答题
                        <button class="btn btn-default" ng-click="find(1)" style="margin-left: 10px;">查询</button>

                    </div>
                </div>
                <div class="panel panel-default" style="display: grid;">
                    <div class="panel-heading">
                        <div class="panel-heading">
                            题库列表
                            <button class="btn btn-success pull-right" ng-click="takeInModal()"
                                ng-if="pid==0" ng-disabled="pageModel.data.length==0">批量收录</button>
                        </div>

                    </div>
                    <div class="panel-body"  style="overflow: scroll;">
                        <table class="table table-striped table-hover" style="margin-top: 10px;">
                            <thead>
                                <tr>
                                    <!-- <th class="text-center">NO</th> -->
                                    <th class="text-center" style="width:20px"><span role="button"
                                            ng-click="checkAll(pageModel)">
                                            <i class="glyphicon"
                                                ng-class="{'glyphicon-check':pageModel.checked,'glyphicon-unchecked':!pageModel.checked}"></i></span>
                                    </th>
                                    <th>类型</th>
                                    <th>题干</th>
                                    <!-- <th>创建人</th> -->
                                    <th>创建时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="!pageModel.data  || pageModel.data.length == 0">
                                    <td colspan="100" class="text-center">暂无记录</td>
                                </tr>
                                <tr ng-repeat="item in pageModel.data">
                                    <!-- <td class="text-center">{{$index + 1+pageModel.pageSize*pageModel.pageIndex}}</td> -->
                                    <td><i role="button" ng-click="checkOne(item)"
                                            ng-class="{'glyphicon-check':item.checked,'glyphicon-unchecked':!item.checked}"
                                            class="glyphicon"></i></td>
                                    <td>{{item.typeName}}</td>
                                    <td style="word-break: break-all;">{{item.question}}</td>
                                    <!-- <td>{{item.personName}}</td> -->
                                    <td>{{item.createTime}}</td>
                                    <td>
                                        <a href='javascript:void(0)' ng-click="showEditModal(item,true,1)"
                                            class='btn btn-xs'><span class='fa fa-eye'></span>查看详情</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="page-footer clearfix">
                            <ng-include src="'/common/pager.html'"></ng-include>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    table tr th,
    table tr td {
        text-align: left;
    }

    .isPublic {
        width: 50px;
        height: 21px;
        border: 1px solid #cccccc;
        border-radius: 5px;
    }

    .public,
    .noPublic {
        float: left;
        width: 25px;
        height: 19px;
        border-right: 1px solid #cccccc;
        border-radius: 5px 0 0 5px;
    }

    .public {
        background-color: green;
    }

    .noPublic {
        background-color: #cccccc;
    }

    .right {
        width: 25px;
        height: 20px;
        border: 1px solid #cccccc;
        background-color: #fff;
        border-radius: 5px 0 0 5px;
    }

    .pl13 {
        padding-left: 13px;

    }

    .aList {
        padding: 5px 0
    }

    .aList span {
        float: left;
        color: #337ab7;
        margin-right: 2px;
        line-height: 1.42857143;
        padding: 10px 15px;
        outline: none;
        display: inline-block;
        border-radius: 4px 4px 0 0;
    }

    .btn-link_ac {
        color: #555;
        cursor: default;
        background-color: #fff;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
    }
</style>
