<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()">×</button>
	<h4 class="modal-title">{{item.id?'编辑':'新增'}}代码版本</h4>
</div>
<div class="modal-body container-fluid form-horizontal">
	<form name="form" novalidate>
		<div class="item form-group">
			<label class="control-label col-md-3 col-sm-3 col-xs-12 required">名称
			</label>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<input type="text" name="name" ng-model="item.name" required
					maxLength="20" class="form-control col-md-7 col-xs-12" >
			</div>
		</div>
		<div class="item form-group">
			<label class="control-label col-md-3 col-sm-3 col-xs-12 required">版本
			</label>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<input type="text" name="version" ng-model="item.version" required
					   maxLength="20" class="form-control col-md-7 col-xs-12" >
			</div>
		</div>
		<div class="item form-group">
			<label
				class="control-label col-md-3 col-sm-3 col-xs-12">更新内容</label>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<textarea ng-model="item.remark" name="remark" class="form-control"
					rows="8"></textarea>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="save(form,item)">确定</button>
			<button class="btn btn-warning" ng-click="cancel()">取消</button>
		</div>
	</form>
</div>