<div ng-controller="workflowCtrl">
    <div class="page-title">
        <div class="title_left">
            <h3>合同分类工作流管理</h3>
        </div>
    </div>
    <div class="row" ng-if="search.isGroup">
		<div class="col-xs-12">
			<label class="control-label">
				<i class="fa fa-map-marker" style="font-size: 15px;margin-right:5px"></i>
				<a role="button" ng-click="findPark(search,find)">{{search.parkName?search.parkName:'请选择项目'}} </a>
			</label>
		</div>
	</div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="form-inline">
                    <div class="form-group">
                        <label>分类名称</label>
                        <input type="text" class="form-control" style="width:150px" ng-model="search.classifyName" placeholder="请输入分类名称" />
                    </div>
                    <div class="form-group">
                        <label>合同审批角色名称</label>
                        <input type="text" class="form-control" style="width:200px" ng-model="search.roleName" placeholder="请输入合同审批角色名称" />
                    </div>
                    <button class="btn btn-default" ng-click="find()">查询</button>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">工作流列表
                    <button class="btn btn-primary pull-right" ng-disabled="!search.parkId" ng-click="showModal()">新增合同工作流</button>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-hover" style="margin-top:10px">
                        <thead class="title">
                            <tr>
                                <th>NO</th>
                                <th>项目名称</th>
                                <th>分类名称</th>
                                <th>审批角色名称</th>
                                <th>起批金额</th>
                                <th>最大金额</th>
                                <th>步骤描述</th>
                                <th>顺序</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="!pageModel.data || pageModel.data.length == 0">
                                <td colspan="100" class="text-center">暂无记录</td>
                            </tr>
                            <tr ng-repeat="item in pageModel.data">
                                <td>{{$index + 1+pageModel.pageSize*pageModel.pageIndex}}</td>
                                <td>{{item.parkName}}</td>
                                <td>{{item.classifyName}}</td>
                                <td>{{item.roleName}}</td>
                                <td>{{item.miniMoney}}</td>
                                <td>{{item.maxMoney}}</td>
                                <td>{{item.stepName}}</td>
                                <td>{{item.sortNumber}}</td>
                                <td>
                                    <a href="javascript:void(0)" ng-if="edit" ng-click="showModal(item)" class="btn btn-xs"><span class="fa fa-edit"></span>编辑</a>
                                    <a href="javascript:void(0)" ng-click="del(item)" class="btn btn-xs"><span class="fa fa-trash"></span>删除</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="page-footer clearfix">
                        <ng-include src="'/common/pager.html'"></ng-include>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<style>
    table tr th,
    table tr td {
        text-align: center;
    }
</style>