<style>
    .div-group {
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }

    .div-panel {
        width: 86px;
        color: #989898;
        background-color: #fff;
        border: 1px solid #E6E9ED;
        display: inline-block;
        padding: 6px 12px;
        margin: 0;
        margin-right: 15px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .div-active {
        color: #fff;
        background-color: #5891eb;
    }

    .a_house {
        color: #009DDC;
        font-size: 13px;
        font-weight: 400;
        padding: 0;
    }

    .btn_search {
        width: 80px;
        color: #fff;
        background-color: #5891eb;
    }

    .label_search {
        color: #989898;
        padding: 0 5px 0 8px;
    }

    .status_hasFix {
        color: #ff747d;
    }

    .btn-oper {
        background-color: #fff;
        border: 1px solid #78c4ec;
        color: #78c4ec;
        padding: 3px 10px;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        height: 45px;
    }
</style>
<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h4 class="modal-title">{{item.id ? (isShow?'查看':'编辑'):'添加'}}服务分类</h4>
</div>
<div class="modal-body container-fluid form-horizontal">
    <div class="x_content" style="max-height:650px;overflow: auto;overflow-x: hidden">
        <form name="form" novalidate>

            <div class="form-group">
                <label class="col-xs-3 control-label required">展现渠道：</label>
                <div class="col-xs-8">
                    <select class="col-xs-8 form-control" ng-model="item.useType"
                            style="width: 150px;">
                        <option value="1">WEB和APP</option>
                        <option value="2">WEB</option>
                        <option value="3">APP</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label required">排序号：</label>
                <div class="col-xs-8">
                    <input class="form-control" ng-model="item.orderNo" required type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label required">服务名称：</label>
                <div class="col-xs-8">
                    <input class="form-control" ng-model="item.serviceName" required type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">服务说明：</label>
                <div class="col-xs-8">
                    <textarea type="text" cols="6" style="resize:vertical" class="form-control"
                              ng-model="item.serviceInfo"/>
                </div>
            </div>
            <div class="form-group" ng-if="item.useType!=3">
                <label class="col-xs-3 control-label">服务路径(WEB):</label>
                <div class="col-xs-8">
                    <input class="form-control" ng-model="item.serviceUrl" type="text">
                </div>
            </div>
            <div class="form-group" ng-if="item.useType!=3">
                <label class="col-xs-3 control-label">LOGO图(WEB):</label>
                <div class="col-xs-4 thumbnail text-center" style=" margin-left: 12px;margin-bottom: 0">
                    <img alt="" onerror="javascript:this.src='/res/img/detail.png';"
                         ng-click="showPhoto()"
                         ng-src="{{processImgUrl(item.logoUrl,'240')}}" 
                         style="max-height: 180px;"/>
                    <div class="caption">
                        <p>
                            <button class="btn btn-warning height34" ng-click="clearPhoto(item,'logoUrl')">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                            <button class="btn btn-default height34" ng-click="addPhoto(item,'logoUrl',true)">
                                <i class="glyphicon glyphicon-picture "></i>
                            </button>
                        </p>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div style="line-height: 50px">统一图片尺寸要求：80*80</div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label required">服务级别：</label>
                <div class="col-xs-8">
                    <select class="col-xs-8 form-control" ng-model="item.serviceLevel"
                            ng-init="item.serviceLevel='1'"
                            disabled="disabled" style="width: 150px;">
                        <option value="1">一级服务</option>
                        <option value="2">二级服务</option>
                        <option value="3">三级服务</option>
                    </select>
                </div>
            </div>

        </form>
    </div>
</div>
<div class="modal-footer" ng-if="isEdit">
    <button class="btn btn-primary save" ng-click="save(form)">确定</button>
    <button class="btn btn-warning" ng-click="cancel()">取消</button>
</div>
