<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()">×</button>
	<h4 class="modal-title">题库选择器</h4>
</div>
<div class="modal-body container-fluid form-horizontal">
	<div class="row">
		<div class="col-md-3 col-sm-4 col-xs-12">
			<div class="x_panel">
				<div class="x_title">类型列表</div>
				<div class="x_content">
					<tree-view node-list="treeData" config="config"></tree-view>
				</div>
			</div>
		</div>
		<div class="col-md-9 col-sm-8 col-xs-12" style="padding:0">
			<div class="x_panel">
				<div class="form-inline">
					<div class="form-group" style="margin-left: 0px;margin-right: 0px">
						<input type="text" ng-model="search.name" placeholder="请输入题干" class="form-control">
					</div>
					<button class="btn btn-default" ng-click="find(1)">查询</button>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">题库列表
				</div>
				<div class="panel-body">
                    <table class="table table-hover" style="margin-top: 10px;">
                        <thead>
                        <tr>
                            <th class="text-center">NO</th>
                            <th class="text-center" style="width:20px"><span role="button" ng-click="checkAll(pageModel)">
                                    <i class="glyphicon" ng-class="{'glyphicon-check':pageModel.checked,'glyphicon-unchecked':!pageModel.checked}"></i></span></th>
                            <th>类型</th>
                            <th>题干</th>
                            <th>创建人</th>
                            <th>创建时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-if="pageModel.list.length == 0"><td colspan="100" class="text-center">暂无记录</td></tr>
                        <tr ng-repeat="item in pageModel.list" ng-class="{'bg-success':item.checked}">
                            <td class="text-center">{{$index + 1+pageModel.pageSize*pageModel.pageIndex}}</td>
                            <td><i role="button" ng-click="checkOne(item)" ng-class="{'glyphicon-check':item.checked,'glyphicon-unchecked':!item.checked}" class="glyphicon"></i></td>
                            <td>{{item.type|keyToValue:subjectTypeDict}}</td>
                            <td>{{item.question}}</td>
                            <td>{{item.personName}}</td>
                            <td>{{item.createTime}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="page-footer clearfix">
                        <ng-include src="'/common/pager.html'"></ng-include>
                    </div>
				</div>
			</div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary edit" ng-click="save()">确定</button>
                <button type="button" class="btn btn-warning" ng-click="cancel()">取消</button>
            </div>
		</div>
	</div>
</div>
<style>
        table tr th,
        table tr td {
            text-align: center;
        }
    </style>
