<div class="processForm">
    <div class="applicationInfo">
        <h4 ng-if="curProcess.procDefKey === 'settled_workflow'">
            【入驻办理】{{processForm.userType | usertype}}{{processForm.settleType===1?'购房入驻': '租赁入驻'}}申请</h4>
        <h4 ng-if="curProcess.procDefKey === 'decorate_workflow'">{{curProcess.title}}</h4>
        <!-- 入驻申请/装修申请 -->
        <div class="msgList">
            <div class="msg-group clearfix">
                <p>申请信息</p>
            </div>
            <!-- 入驻申请 begin -->
            <!-- 企业/个人购房 -->
            <div class="msg-group clearfix"
                ng-if="processForm.settleType===1 && curProcess.procDefKey === 'settled_workflow'">
                <label class="col-xs-2">业主姓名</label>
                <div class="col-xs-2">
                    <span class="ellipsiss"
                        ng-attr-title="{{processForm.proprietorName}}">{{processForm.proprietorName}}</span>
                </div>
                <label class="col-xs-2">入驻方式</label>
                <div class="col-xs-2">
                    <span class="ellipsiss">{{processForm.settleType===1?'购房入驻': '租赁入驻'}}</span>
                </div>
                <label class="col-xs-2">申请时间</label>
                <div class="col-xs-2">
                    <span class="ellipsiss" ng-attr-title="{{processForm.createTime}}">{{processForm.createTime}}</span>
                </div>
            </div>
            <!-- 企业/个人购房 -->
            <div class="msg-group clearfix"
                ng-if="processForm.settleType===1 && curProcess.procDefKey === 'settled_workflow'">
                <label class="col-xs-2">联系人</label>
                <div class="col-xs-2">
                    <span class="ellipsiss" ng-attr-title="{{processForm.linkman}}"
                        ng-if="processForm.handleType!=2">{{processForm.linkman}}</span>
                    <span class="ellipsiss" ng-attr-title="{{processForm.linkman}}"
                        ng-if="processForm.handleType==2">{{processForm.agentName}}</span>
                </div>
                <label class="col-xs-2">联系电话</label>
                <div class="col-xs-6">
                    <span class="ellipsiss" ng-attr-title="{{processForm.telephone}}"
                        ng-if="processForm.handleType!=2">{{processForm.telephone}}</span>
                    <span class="ellipsiss" ng-attr-title="{{processForm.telephone}}"
                        ng-if="processForm.handleType==2">{{processForm.agentTelephone}}</span>
                </div>
            </div>
            <!-- 企业/个人租赁 -->
            <div class="msg-group clearfix"
                ng-if="processForm.settleType===2 && curProcess.procDefKey === 'settled_workflow'">
                <label class="col-xs-1">租户名称</label>
                <div class="col-xs-2">
                    <span class="ellipsiss" ng-attr-title="{{processForm.tenantName}}">{{processForm.tenantName}}</span>
                </div>
                <label class="col-xs-1">入驻方式</label>
                <div class="col-xs-2">
                    <span class="ellipsiss">{{processForm.settleType===1?'购房入驻': '租赁入驻'}}</span>
                </div>
                <label class="col-xs-1">联系人</label>
                <div class="col-xs-2">
                    <span class="ellipsiss" ng-attr-title="{{processForm.linkman}}">{{processForm.linkman}}</span>
                </div>
                <label class="col-xs-1">联系电话</label>
                <div class="col-xs-2">
                    <span class="ellipsiss" ng-attr-title="{{processForm.telephone}}">{{processForm.telephone}}</span>
                </div>
            </div>
            <!-- 企业/个人租赁 -->
            <div class="msg-group clearfix"
                ng-if="processForm.settleType===2 && curProcess.procDefKey === 'settled_workflow'">
                <label class="col-xs-2">申请时间</label>
                <div class="col-xs-2">
                    <span class="ellipsiss" ng-attr-title="{{processForm.createTime}}">{{processForm.createTime}}</span>
                </div>
                <label class="col-xs-2">产权方</label>
                <!--  -->
                <div class="col-xs-2">
                    <span class="ellipsiss">{{processForm.ownType===1?"开发商":"企业/个人"}}</span>
                </div>
                <label class="col-xs-2">产权方名称</label>
                <div class="col-xs-2">
                    <span class="ellipsiss" ng-attr-title="{{processForm.ownName}}">{{processForm.ownName}}</span>
                </div>
            </div>
            <!-- 入驻申请 end -->
            <!-- 装修申请 begin-->
            <div class="msg-group clearfix" ng-if="curProcess.procDefKey === 'decorate_workflow'">
                <label class="col-xs-2">业主名称</label>
                <div class="col-xs-2">
                    <span class="ellipsiss"
                        ng-attr-title="{{processForm.proprietorName}}">{{processForm.proprietorName}}</span>
                </div>
                <label class="col-xs-2">房间号</label>
                <div class="col-xs-2">
                    <span class="ellipsiss"
                        ng-attr-title="{{processForm.houseAddress}}">{{processForm.houseAddress}}</span>
                </div>
                <label class="col-xs-2">装修方式</label>
                <div class="col-xs-2">
                    <span class="ellipsiss">{{processForm.decorateType===1?'自装': '非自装'}}</span>
                </div>
            </div>
            <div class="msg-group clearfix" ng-if="curProcess.procDefKey === 'decorate_workflow'">
                <label class="col-xs-2">申请时间</label>
                <div class="col-xs-2">
                    <span class="ellipsiss" ng-attr-title="{{processForm.createTime}}">{{processForm.createTime}}</span>
                </div>
                <label class="col-xs-2">联系人</label>
                <div class="col-xs-2">
                    <span class="ellipsiss" ng-attr-title="{{processForm.linkman}}">{{processForm.linkman}}</span>
                </div>
                <label class="col-xs-2">联系电话</label>
                <div class="col-xs-2">
                    <span class="ellipsiss" ng-attr-title="{{processForm.telephone}}">{{processForm.telephone}}</span>
                </div>
            </div>
            <!-- 装修申请 end -->
            <div class="msg-group msg-group-data clearfix">
                <label class="col-xs-2">入驻资料</label>
                <div class="col-xs-10 clearfix">
                    <div ng-repeat="item in processForm.list track by $index">
                        <span>{{item.attachmentName}}</span><a class="download" href="javascript:;"
                            ng-click="enclosureDownload(item.url,item.attachmentName)"></a>
                    </div>
                </div>
            </div>
            <div class="msg-group msg-group-upload clearfix" ng-repeat="item in nodeFileList track by $index"
                ng-if="nodeFileList.length>0 && item.list.length>0">
                <label class="col-xs-2">{{item.nodeName}}-审批文件</label>
                <div class="col-xs-10">
                    <ul class="workList" style="max-height:150px;">
                        <li ng-repeat="file in item.list track by $index">
                            <span>{{file.attachmentName}}</span><a class="download" href="javascript:;"
                                ng-click="enclosureDownload(file.url,file.attachmentName)"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="msg-group msg-group-upload clearfix" ng-if="curProcess.taskStatus == 0 && curProcess.personId">
                <label class="col-xs-2">上传文件</label>
                <div class="col-xs-10">
                    <div style="display: inline-block;padding:5px;">
                        <a class="blue_btn" ng-click="uploadFile(1)">上传</a>
                        <div style="display: inline-block;">（只能上传.doc、.docx、.pdf、.xls或.xlsx格式的文件）</div>
                    </div>
                    <ul class="workList">
                        <li ng-repeat="file in contactFileList track by $index">
                            <a href="javascript:;"
                                style="color: #417CDD;cursor:default;">{{file.attachmentName | gshFileName}}</a>
                            <b class="fa fa-close" ng-click="delContactFile(1,$index)"></b>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="msg-group clearfix">
                <p>审批信息</p>
            </div>
            <div class="msg-group clearfix" ng-repeat="item in processComment track by $index">
                <label class="col-xs-2">{{item.activityName}}</label>
                <div class="col-xs-10">
                    <p
                        style="width: 100%; text-align:left;padding-left:10px;display:flex;justify-content:space-between;align-items:center;">
                        <span class="ellipsiss" style="width:45%;" ng-attr-title="{{item.assigneeName}}">{{item.assigneeName}}</span>
                        <span style="width:45%;">{{item.startTime | date : 'yyyy-MM-dd HH:mm:ss'}} </span>
                    </p>
                    <p style="width:100%;">
                        <span class="ellipsiss" ng-attr-title="{{item.comment}}"
                            ng-if="item.comment">{{item.comment}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="auditOpinion clearfix" ng-if="curProcess.taskStatus == 0 && curProcess.personId">
        <label class="col-xs-2 required">审批意见</label>
        <textarea maxlength="100" class="col-xs-10" rows="5" placeholder="请填写审批意见(必填),限制输入字数100"
            ng-model="search.comment"></textarea>
    </div>
    <div class="transferOp">
        <h4>流转意见</h4>
        <div class="transferList">
            <div class="transfer-group" ng-repeat="item in processComment track by $index">
                <p style="padding-left: 10px;">{{item.activityName}}</p>
                <p class="ellipsiss" ng-attr-title="{{item.assigneeName}}">{{item.assigneeName}}</p>
                <p class="clearfix"><span style="color: #008000;width:20%;margin-right:10px;">接收人</span> <span class="ellipsiss" style="width:75%;" ng-attr-title="{{item.receiver}}">{{item.receiver}}</span>
                </p>
                <div>
                    <p>{{item.endTime || item.startTime | date : 'yyyy-MM-dd HH:mm:ss'}}</p>
                    <p style="color: #008000;">
                        【{{item.activityName}}】
                    </p>
                    <p style="color: #008000;">
                        <span ng-if="$index===0">已提交</span>
                        <span class="ellipsiss" ng-attr-title="{{item.comment}}"
                            ng-if="$index!==0">{{item.comment}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
