<!-- NVR设备管理 -->
<div ng-controller="nvrCtrl">
    <div class="page-title">
        <div class="title_left">
            <h3>NVR设备管理</h3>
        </div>
    </div>
    <div class="x_panel">
        <div class="form-inline">
            <div class="form-group">
                <label>硬盘录像机编码</label>
                <input type="text" ng-model="search.nvrCode" class="form-control" />
            </div>
            <div class="form-group">
                <label>硬盘录像机名称</label>
                <input type="text" ng-model="search.nvrName" class="form-control" />
            </div>
            <button class="btn btn-default" ng-click="find(1)">查询</button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            硬盘录像机设备列表
            <button class="btn btn-primary pull-right" ng-click="showEditModal()">添加硬盘录像机</button>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover" style="margin-top: 10px;">
                <thead class="title">
                    <tr>
                        <th class="text-center">NO</th>
                        <th>硬盘录像机编码</th>
                        <th>硬盘录像机名称</th>
                        <th>设备型号</th>
                        <!-- <th>设备状态</th> -->
                        <th>硬盘录像机端口</th>
                        <th>硬盘录像机ip地址</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="!pageModel.data  || pageModel.data.length == 0">
                        <td colspan="100" class="text-center">暂无记录</td>
                    </tr>
                    <tr ng-repeat="item in pageModel.data">
                        <td class="text-center">{{$index +1+pageModel.pageSize*pageModel.pageIndex}}</td>
                        <td>{{item.nvrCode}}</td>
                        <td>{{item.nvrName}}</td>
                        <td>{{item.nvrType}}</td>
                        <!-- <td>{{item.nvrStatus | keyToValue:videoTypeDict}}</td> -->
                        <td>{{item.nvrPort}}</td>
                        <td>{{item.nvrIp}}</td>

                        <td>
                            <a href='javascript:void(0)' ng-click='showEditModal(item)' class='btn btn-xs'>
                                <span class='fa fa-edit'></span>编辑</a>
                            <a href='javascript:void(0)' ng-click='del(item.id)' class='btn btn-xs'>
                                <span class='fa fa-trash'></span>删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="page-footer clearfix">
                <ng-include src="'/common/pager.html'"></ng-include>
            </div>
        </div>
    </div>
</div>