<div class="" style="position: relative;">
        <div class="row" style="margin:0px" id="paly">
            <video id="video" ng-style="{height:width/2.28}" style="background-color:black" tabindex="-1" autoplay
                   muted="muted" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></video>
        </div>
 <!--视频进度控制-->
 <div class="row" style="margin:0">
    <div class="col-md-12 col-sm-12">
        <!--<b style="float: left">{{search.startTime}}</b><b style="float: right">{{search.endTime}}</b>-->
        <input id="slider" data-slider-id='videoSlider' type="text"
               data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0"/>

    </div>
</div>

   

    <style>
        .btn-custerm {
            background-color: transparent;
            border: 1px solid #838688;
            margin-right: 20px;
            padding: 5px 15px
        }

        .list {
            background-color: #161A23;
            color: white;
        }

        .listCom {
            display: inline-block;
            margin-left: 30px;
            color: #a9aaad;
        }

        .fs-28 {
            font-size: 28px;
        }
    </style>


   
</div>