<!--新增修改备忘录 -->
<div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">×</button>
        <h4 class="modal-title">{{item.id?'编辑':'添加'}}备忘录</h4>
    </div>
    <div class="modal-body container-fluid form-horizontal">
        <form name="form" novalidate>
            
           
            <div class="form-group">
                <label class="col-xs-2 control-label required">内容：</label>
                <div class="col-xs-10">
                    <textarea type="text" required style="height:200px;resize:vertical" class="form-control" maxlength="200" placeholder="最多可输入200字符"  ng-model="item.content" />
                </div>
            </div>
            
    
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="save(form)">确定</button>
        <button class="btn btn-warning" ng-click="cancel()">取消</button>
    </div>