<!-- 访客编辑 -->
<div class="modal-header">
    <button type="button" class="close" ng-click="vm.cancel()">×</button>
    <h4 class="modal-title">{{item.ID?'编辑':'添加'}}访客</h4>
</div>
<div class="modal-body container-fluid form-horizontal">
    <form name="form" novalidate>
        <div class="form-group">
            <label class="col-xs-3 control-label required">访客姓名：</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" ng-model="item.visitorName" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label required">访客电话：</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" ng-model="item.visitorTel" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label required">所属业主：</label>
            <div class="col-xs-9">
                <div class="input-group">
                    <input type="text" class="form-control" readonly="readonly" required ng-model="item.ownerName" />
                    <input type="text" class="form-control" ng-if="false" required ng-model="item.ownerId" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="selectOwner()">
                            <i class='fa fa-search'></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">业主联系电话：</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" readonly="readonly" ng-model="item.ownerPhone">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3  control-label">房屋编号：</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" readonly="readonly" ng-model="item.houseNo">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label required">到访时间：</label>
            <div class="col-xs-9">
                <input type="datetime" class="form-control Wdate" required readonly name="visitTime" ng-model="item.visitTime" onchange=""
                    onclick="javascript:WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:&quot;#F{$('.Wdate').last().val()||'%y-%M-%d'}&quot;})">
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-3 control-label required">离开时间：</label>
            <div class="col-xs-9">
                <input type="datetime" class="form-control Wdate" required readonly name="leaveTime" ng-model="item.leaveTime" onchange=""
                    onclick="javascript:WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:&quot;#F{$('.Wdate').first().val()}&quot;})">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">与业主关系：</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" ng-model="item.relationship">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">来访原因：</label>
            <div class="col-xs-9">
                <textarea type="text" style="height:150px;resize:vertical" class="form-control" ng-model="item.reason" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">车牌号：</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" ng-model="item.plateNumber">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">车辆属性：</label>
            <div class="col-xs-9">
                <textarea type="text" style="height:150px;resize:vertical" class="form-control" ng-model="item.plateDetail" />
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="vm.save(form,item)">确定</button>
    <button class="btn btn-warning" ng-click="vm.cancel()">取消</button>
</div>