<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <!-- 添加移动端viewport 设置 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>OVU-智慧运营平台</title>

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="bookmark" href="/favicon.ico" />
    <link href="/res/gentelella/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <style>
        html,
        body {
            height: 100%;
        }
        .row{
            margin: 0;
        }
        img{
            max-width: 100%;
        }

        [ng\:cloak],
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x-ng-cloak {
            display: none !important;
        }

        .n-hr{
            padding-bottom: 5px;
            border-bottom: 1px solid #eee
        }

        .edui-container{
            width: 100% !important;
            border: 0;
            margin:0 0 10px;
        }
        .edui-body-container{
            width: 100% !important;
        }
        .edui-toolbar{
            display: none;
        }
    </style>
</head>

<body ng-app="angularApp" ng-controller="indexCtrl" ng-cloak style="margin: 0 auto;">
    <div class="panel">
        <div class="row">
            <div style="text-align: center;font-size:large;"><strong>{{item.title}}</strong></div>
        </div>
        <div class="row" style="margin-left:5px;margin-right: 5px">
            <span class="pull-left" style="color: gray">{{item.sendPerson}}</span>
            <span class="pull-right" style="color: gray">{{item.createTime}}</span>
        </div>
        <div>
            <div type="text/html" style="margin:auto;width:100%;"
                 ng-model="item.content"
                 meta-umeditor
                 meta-umeditor-config='{readonly:true}'>
            </div>
        </div>
        <div ng-if="item.photoList.length>0">
            <div class="n-hr"></div>
            <div class="row" style="margin-left: 10px;margin-right: 10px">
                <li style="list-style: none;float: left;padding: 5px" ng-repeat="photo in item.photoList track by $index">
                    <img style="width: 80px;height: 80px" class="img-responsive"
                         onerror="javascript:this.src='/res/img/detail.png';"
                         ng-src="{{photo}}" ng-click="clickImg(photo)"/>
                </li>
            </div>
        </div>
        <div ng-if="item.files.length>0">
            <div class="n-hr"></div>
            <div class="row">
                <ul>
                    <li style="font-size: x-large;padding: 10px 0px;" ng-repeat="p in item.files track by $index">
                        <div><a class="btn-link" href="{{p.url}}" download="{{p.name}}">{{p.name}}</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript" src="/res/gentelella/vendors/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/res/js/angular1.5.11/angular.min.js"></script>
<script type="text/javascript" src="/umeditor/third-party/template.min.js"></script>
<script type="text/javascript" src="/umeditor/umeditor.config.js"></script>
<script type="text/javascript" src="/umeditor/umeditor.min.js"></script>
<script type="text/javascript" src="/umeditor/meta.umeditor.js"></script>
<script type="text/javascript" src="/res/js/layer/layer.js"></script>
<script>
    var app = angular.module("angularApp", ['meta.umeditor']);
</script>
<script>
    app.controller('indexCtrl', ['$scope', '$location', '$http', '$q', function($scope, $location, $http, $q) {

        var search = location.search;

        $http.get("/ovu-pcos/mobile/noticeDetail.do" + search).success(function(resp) {
            if (resp.success) {
                $scope.item = resp.data;
            } else {
                alert('数据加载错误，请重试！');
            }
        });

        $scope.clickImg=function (photo) {
            layer.open({
                type: 1
                ,title: false //不显示标题栏
                ,closeBtn: true
                ,area: 'auto'
                ,shade: 0.8
                ,id: 'IMG' //设定一个id，防止重复弹出
                ,content: '<img src="'+photo+'">'
            });

        }

    }]);
</script>

</html>
