<div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">×</button>
        <h4 class="modal-title">账单详情</h4>
    </div>
    <div class="modal-body container-fluid form-horizontal ng-scope">
        <div class="bookingDetail">
            <p>
                <span>账单编号：</span>
                <span>111</span>
            </p>
            <p>
                <span>服务类型：</span>
                <span>水费</span>
            </p>
            <p>
                <span>账单日期：</span>
                <span>水电安装</span>
            </p>
            <p>
                <span>账单状态：</span>
                <span>欠费</span>
            </p>
            <p>
                <span>起码：</span>
                <span>10（m<sup>2</sup>）</span>
            </p>
            <p>
                <span>倍率</span>
                <span>2</span>
            </p>
            <p>
                <span>用量：</span>
                <span>10（m<sup>2</sup>）</span>
            </p>
            <p>
                <span>单价：</span>
                <span>2.10元</span>
            </p>
            <p>
                <span>实际总费用</span>
                <span>500元</span>
            </p>
            <p>
                <span>客户名称：</span>
                <span>XX有限公司</span>
            </p>
            <p>
                <span>联系人</span>
                <span>老王</span>
            </p>
            <p>
                <span>联系方式：</span>
                <span>137888888888</span>
            </p>
        </div>
    </div>
    <style>
        .bookingDetail {
            margin: 0 auto;
        }
    
        .bookingDetail p span:first-child {
            display: inline-block;
            width: 90px;
            color: #999;
        }
    
        .bookingDetail p span:last-child {
            display: inline-block;
            color: #070707;
        }
    </style>