<div class="modal-header">
	<button type="button" class="close" ng-click="vm.cancel()">×</button>
	<h4 class="modal-title">{{vm.operationType == 'add'?'添加信息':'编辑产业信息'}}</h4>
</div>
<div class="modal-body container-fluid form-horizontal"> 
	<div class="x_content" style="max-height: 500px; overflow: auto;">
		<form name="form" novalidate>
			<div class="form-group">
				<label class="col-md-4 control-label">行业类型：</label>
				<div class="col-md-5">
					<span class="text-readOnly"> {{vm.product.industryName}}</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label">产品名称：</label>
				<div class="col-md-5">
				<span class="text-readOnly"> {{vm.product.industryProductName}}</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label">产品链位置：</label>
				<div class="col-md-5">
				<span class="text-readOnly"> {{vm.product.relationStatus|keyToValue:relationStatusList}}</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label">关联企业：</label>
				<div class = "col-md-5">
					<input type="text" class="form-control p-r-xl bg-readOnly" 
						tooltip-placement="auto top"
						uib-tooltip="{{vm.product.domainCompanyNameStr}}"
						readOnly
						ng-model="vm.product.domainCompanyNameStr" /> 
					<i class="icon glyphicon glyphicon-search search-icon" ng-click="vm.selectEnterprise()"></i>
				</div>
				<div ng-if="vm.product.domainCompanyNameList.length > 0 ">
					<i class="glyphicon glyphicon-remove" style="line-height:34px;" ng-click="vm.deleteAll()"></i>
				</div>	
			</div>
		</form>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="vm.save(form)">确定</button>
	<button class="btn btn-warning" ng-click="vm.cancel()">取消</button>
</div>
