		<div class="modal-header">
			<h4 class="modal-title">{{item.id?'编辑':'添加'}}延期原因</h4>
	    </div>
	    <div class="modal-body container-fluid form-horizontal">
			<form name="form" novalidate>
				<div class="form-group">
					<label class="col-xs-4 control-label required">延期原因：</label>
					<div  class="col-xs-6">
						<input type="text" class="form-control" ng-model="item.name" name="name" maxlength="30" required/>
					</div>
				</div>
                <div class="form-group">
                    <label class="col-xs-4 control-label required">延期天数：</label>
                    <div  class="col-xs-6">
                        <input type="number" class="form-control" ng-model="item.days" placeholder="天数" name="days"
                               min="1" max="30" ng-pattern="/^\d*$/" required/>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-xs-4 control-label">备注：</label>
                    <div class="col-xs-6">
                        <textarea type="text" rows="5" style="resize:vertical" class="form-control" ng-model="item.remark"/>
                    </div>
                </div>
			</form>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="save(form,item)">确定</button>
			<button class="btn btn-warning" ng-click="cancel()">取消</button>
		</div>


