		<div class="modal-header">
			<h4 class="modal-title">{{item.ID?'编辑':'添加'}}工作分类</h4>
	    </div>
	    <div class="modal-body container-fluid form-horizontal">
			<form name="form" novalidate>
				<div class="form-group" ng-if="item.pid!='0'">
					<label class="col-xs-4 control-label">上级分类：</label>
					<div class="col-xs-6">
						<div style="margin-top: 8px">{{item.ptexts}}</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-4 control-label required">工作分类名称：</label>
					<div  class="col-xs-6">
						<input type="text" class="form-control" ng-model="item.WORKTYPE_NAME" name="WORKTYPE_NAME" required/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-4 control-label">工作分类编码：</label>
					<div  class="col-xs-6">
						<input type="text" class="form-control" ng-model="item.WORKTYPE_NO" name="WORKTYPE_NO" ng-readonly="true" placeholder="系统自动生成"/>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="save(form,item)">确定</button>
			<button class="btn btn-warning" ng-click="cancel()">取消</button>
		</div>


