<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>招商快讯</title>
    <link rel="stylesheet" href="operationManage/newsManage/alerts.css">
    <link rel="stylesheet" href="//res.layui.com/layui/dist/css/layui.css"  media="all">
</head>
<body>
<div id="angularId" ng-controller="alertsCtl" >
    <div class="page-title">
        <div class="title_left">
            <h3>招商快讯</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" >
            <div class="div-group"></div>
            <div class="x_panel" >
                <div class="form-inline">
                    <div class="form-group">
                       <label>标题</label>
                        <input class="form-control" type="text" ng-model="search.title" >
                    </div>
                    <div class="form-group">
                        <label>发布状态</label>
                        <select class="form-control" type="text" ng-model="search.publishStatus" >
                            <option value="">--请选择--</option>
                            <option value="2">未发布</option>
                            <option value="1">已发布</option>
                        </select>
                    </div>
                    <div class="form-group" >
                        <label style="width: 100px;text-align: right;">发布日期</label>
                        <input type="datetime" class="form-control Wdate" ng-model="search.startTime"
                            placeholder="开始日期" onchange=""
                            onclick="javascript:$.curPicker = $(event.target);WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:&quot;#F{$.curPicker.siblings('.Wdate').val()||'%y-%M-%d'}&quot;})">
                        <label style="width: 10px;">-</label>
                        <input type="datetime" class="form-control Wdate" ng-model="search.endTime"
                            placeholder="结束日期" onchange=""
                            onclick="javascript:$.curPicker = $(event.target);WdatePicker({dateFmt:'yyyy-MM-dd',minDate:&quot;#F{$.curPicker.siblings('.Wdate').val()}&quot;,maxDate:'%y-%M-%d'})">
                    </div>
                    <button class="btn btn-default" ng-click="find()">查询</button>
                </div>
            </div>
            <div class="panel panel-default">
                    <div class="panel-heading" style="font-size: 14px">资讯列表
                        <button class="btn btn-primary pull-right" ng-click='showNews(item)'>新增</button>
                    </div>
                    <div class="panel-body">
                            <table class="table table-striped table-hover" style="margin-top: 10px;">
                                    <thead class="title">
                                    <tr>
                                        <th class="text-center">序号</th>
                                        <th class="text-center">标题</th>
                                        <th class="text-center">发布人</th>
                                        <th class="text-center">发布时间</th>
                                        <th class="text-center">发布状态</th>
                                        <th class="text-center">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-if="!pageModel.data||pageModel.data.length == 0"><td colspan="100" class="text-center">暂无记录</td></tr>
                                    <tr ng-repeat="item in pageModel.data">
                                        <td>{{$index + 1 + pageModel.pageSize*pageModel.pageIndex}}</td>
                                        <td>
                                            <span ng-if="item.isTop==1" style="color:red;">[置顶]</span>
                                            <span ng-if="item.topic.substring(0, 1)==1" style="color:blue;">[专题一]</span>
                                            <span ng-if="item.topic.substring(0, 1)==2" style="color:blue;">[专题二]</span>
                                            <span ng-if="item.topic.substring(0, 1)==3" style="color:blue;">[专题三]</span>
                                            {{item.title | limitTo:20}}{{item.title.length>20?'...':''}}</td>
                                            <td ng-if="item.publishStatus==1">{{item.updator}}</td>
                                            <td ng-if="item.publishStatus==2"></td>
                                            <td ng-if="item.publishStatus==1">{{item.publishTime | date : 'yyyy-MM-dd'}}</td>
                                            <td ng-if="item.publishStatus==2"></td>
                                        <td>{{item.publishStatus==2?"未发布":(item.publishStatus==1?"已发布":"--")}}</td>
                                        <td>
                                            <button class="btn btn-oper" ng-click="pre(item)" >预览</button>
                                            <button class="btn btn-oper"  ng-click='showNews(item)'  ng-disabled="item.publishStatus==1">编辑</button>
                                            <button class="btn btn-oper"  ng-click='publish(item)'>{{item.publishStatus==2?"发布":(item.publishStatus==1?"撤回":"--")}}</button>
                                            <button class="btn btn-oper"  ng-click='isTop(item)' ng-disabled="item.publishStatus==2">{{item.isTop==0?"置顶":(item.isTop==1?"取消":"--")}}</button>
                                            <button class="btn btn-del"  ng-click='del(item)'>删除</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="page-footer clearfix">
                                    <ng-include src="'/common/pager.html'"></ng-include>
                                </div>
                    </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
