<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h4 class="modal-title" ng-show="!item.isView">{{item.id?'编辑':'新增'}}</h4>
    <!-- <h4 class="modal-title" ng-show="item.isView">查看定价</h4> -->
</div>
<div class="modal-body container-fluid form-horizontal ng-scope">
    <form name="form" novalidate class="ng-pristine ng-invalid ng-invalid-required">
        <!-- <div class="form-group">
            <label class="col-xs-2 control-label">发布者：</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" ng-model="item.creatorName" name="creatorName"  style="cursor: default;" readonly/>
            </div>
        </div> -->
        <div class="form-group">
            <label class="col-xs-3 control-label required text-left">标题：</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" required ng-model="item.title" name="title"
                    style="cursor: default;" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label text-left">副标题：</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" ng-model="item.subtitle" name="subtitle"
                    style="cursor: default;" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label text-left">外链地址：</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" ng-model="item.outAddress" name="outAddress"
                    style="cursor: default;" />
            </div>
        </div>
        <!-- <div class="form-group">
            <label class="col-xs-2 control-label required">简介：</label>
            <div class="col-xs-10">
                <textarea type="text" style="height:50px;resize:vertical;cursor: default;"
                class="form-control" required ng-model="item.theme"   name="theme" ></textarea>
            </div>
        </div> -->
        <div class="form-group">
            <label class="col-xs-3 control-label required">分类：</label>
            <div class="col-xs-3">
                <!-- <select class="form-control" type="text" ng-model="item.contentType"
            ng-change="changeSearchStatus();"
            ng-options="o.dicVal as o.appName for o in item.contentType" style="width: 100px;">
            </select> -->
                <select class="form-control" type="text" ng-model="item.contentType" name="contentType" ng-change="contentType(item)"
                    style="cursor: default;" ng-options="o['dicCode'] as o['dicItem'] for o  in item.contentTypeList">
                    <option value="">--请选择--</option>
                </select>
            </div>
            <label class="col-xs-2 control-label">二级分类：</label>
            <div class="col-xs-3">
                <!-- <select class="form-control" type="text" ng-model="item.contentType"
            ng-change="changeSearchStatus();"
            ng-options="o.dicVal as o.appName for o in item.contentType" style="width: 100px;">
            </select> -->
                <select class="form-control" type="text" ng-model="item.secondType" name="secondType"
                    style="cursor: default;" ng-options="o['dicSort'] as o['dicItem'] for o  in secondTypeList">
                    <option value="">--请选择--</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">内容：</label>
            <div class="col-xs-9">
                <div id="cartEditor"></div>
                <!-- <div id="editor" style="display: none;" ></div> -->
                <div id="cyzk" class="ueditor" config="config" style="width: 700px; height: 300px;"
                    ng-model="item.content" ready="ready"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label text-left">分享简介：</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" ng-model="item.shareProfile" name="shareProfile"
                    style="cursor: default;" maxlength="20"/>
                    <label class="col-xs-9 control-label"
                        style="color:red;text-align: left;padding-left: 0;">用于微信分享时的简介，简介中文字数在20以内</label>
            </div>
            
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label ">首图：</label>
            <div class="col-xs-9">
                <div class="photoWraper" ng-repeat="p in item.pics track by $index" style="height: 160px;width:350px">
                    <img onerror="javascript:this.src='/res/img/detail.png';" ng-click="showPhoto()"
                        ng-src="{{processImgUrl(p)}}" style="height:100%;width:100%;border:1px solid #ddd" />
                    <a role="button" ng-click="delPhoto(item.pics, p)"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
                <img ng-show="item.pics.length < 1" height="80px" width="80px" src="/res/img/mbs/add.jpg" role="button"
                    ng-click="addPhotos(item.pics)" title="上传图片">
                <div><label class="col-xs-9 control-label"
                        style="color:red;text-align: left;padding-left: 0;">内容页首页,尺寸要求700*320,非必传,显示在app智库内容详情页顶部。</label></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label ">置顶：</label>
            <div class="col-xs-9">
                <div style="float: left;"><input type="checkbox" ng-model="item.isTop" name="isTop"
                        ng-true-value=1 ng-false-value=0 style="margin-top: 11px;" ng-click="isTop(item)"></div>
                <label class="col-xs-11 control-label"
                    style="color:red;text-align: left;">置顶，勾选后置顶图必选，将显示咋APP产业智库首页顶部轮播图中，置顶最多五条，尺寸最多700*320。</label>
            </div>
            <label class="col-xs-3 control-label">置顶图：</label>
            <div class="col-xs-9">
                <div class="photoWraper" ng-repeat="p in item.image track by $index" style="height: 160px;width:350px">
                    <img onerror="javascript:this.src='/res/img/detail.png';" ng-click="showPhoto()"
                        ng-src="{{processImgUrl(p)}}" />
                    <a role="button" ng-click="delPhoto(item.image, p)"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
                <img ng-show="item.image.length < 1" height="80px" width="80px" src="/res/img/mbs/add.jpg" role="button"
                    ng-click="addPhotos(item.image,1)" title="上传图片">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label required">列表图：</label>
            <div class="col-xs-9">
                <div class="photoWraper" ng-repeat="p in item.listView1 track by $index" style="height: 66px;width:50px">
                    <img onerror="javascript:this.src='/res/img/detail.png';" ng-click="showPhoto()"
                        ng-src="{{processImgUrl(p)}}" />
                    <a role="button" ng-click="delPhoto(item.listView1, p)"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
                <img ng-show="item.listView1.length < 1" height="80px" width="80px" src="/res/img/mbs/add.jpg" role="button"
                    ng-click="addPhotos(item.listView1,1)" title="上传图片">
            </div>
            <label class="col-xs-3 control-label "></label> 
                <label class="col-xs-9 control-label"
                    style="color:red;text-align: left;">列表图，显示在产业智库的分类列表页面，分类为“产业洞察”时，尺寸要求：100*132，分类为“产业研究”时，尺寸要求：320*205</label>
        </div>
        <!-- <div class="form-group" ng-if="item.contentType==='INDUSTRY_RESEARCH'">
            <label class="col-xs-3 control-label ">列表图：</label>
            <div class="col-xs-9">
                <div class="photoWraper" ng-repeat="p in item.listView1 track by $index" style="height: 102.5px;width:160px">
                    <img onerror="javascript:this.src='/res/img/detail.png';" ng-click="showPhoto()"
                        ng-src="{{processImgUrl(p)}}" />
                    <a role="button" ng-click="delPhoto(item.listView1, p)"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
                <img ng-show="item.listView1.length < 1" height="80px" width="80px" src="/res/img/mbs/add.jpg" role="button"
                    ng-click="addPhotos(item.listView1,1)" title="上传图片">
            </div>  
            <label class="col-xs-3 control-label "></label>     
                <label class="col-xs-9 control-label"
                    style="color:red;text-align: left;">列表图，显示在产业智库的分类列表页面，分类为“产业洞察”时，尺寸要求：100*132，分类为“产业研究”时，尺寸要求：320*205</label>

        </div> -->
    </form>
</div>
<div class="modal-footer" ng-show="!item.isView">
    <button class="btn btn-primary" ng-click="saveNews(form,item)">确定</button>
    <button class="btn btn-warning" ng-click="cancel()">取消</button>
</div>
<style>
    .modal-dialog {
        width: 1000px;
    }

</style>
