<div class="" ng-controller="energyMainCtl as vm" style="height:100%;">
    <div ng-if="vm.fmapId == 'csrjy'" style="height: 100%;position:relative;">
        <h1 class="text-center" style="position:absolute;top:50%;left:50%;transform: translate(-50%, -50%)">开发中...</h1>
    </div>
    <big-screen ng-if="vm.fmapId != 'csrjy'" gaode-data="vm.gaodeData" indoor-data="vm.indoorData" park-no="vm.parkNo" type="vm.type">
        <div class="right-panel">
            <!--园区能耗表情况-->
            <div ng-show="vm.showPark">
                <div class="col-lg-12 col-sm-12 b-b b-2x">
                    <h4 class="font-bold">园区能耗表概况</h4>
                    <div class="col-lg-4 col-sm-4 text-center">
                        <h3>{{vm.rightData.total}}</h3>
                        <div>能耗表总数</div>
                    </div>
                    <div class="col-lg-4 col-sm-4 text-center">
                        <h3>{{vm.rightData.regular_num}}</h3>
                        <div>正常</div>
                    </div>
                    <div class="col-lg-4 col-sm-4 text-center m-b-md">
                        <h3>{{-(-vm.rightData.fail_num - vm.rightData.broken_num)}}</h3>
                        <div class="red">异常</div>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12">
                    <h4 class="font-bold">园区耗能趋势图</h4>
                    <div style="height:200px;" ui-echarts="vm.polyData">
                    </div>
                </div>
            </div>
            <!--展示单个楼栋的能耗表情况-->
            <div ng-show="vm.showFloor">
                <div class="col-lg-12 col-sm-12 b-b b-2x">
                    <h4 class="font-bold">{{vm.title}}能耗表概况</h4>
                    <div class="col-lg-4 col-sm-4 text-center">
                        <h3>{{7 || vm.rightFloorData.total}}</h3>
                        <div>能耗表总数</div>
                    </div>
                    <div class="col-lg-4 col-sm-4 text-center">
                        <h3>{{7 || vm.rightFloorData.regular_num}}</h3>
                        <div>正常</div>
                    </div>
                    <div class="col-lg-4 col-sm-4 text-center m-b-md">
                        <h3>{{-(-vm.rightFloorData.fail_num - vm.rightFloorData.broken_num)}}</h3>
                        <!-- <h3>0</h3> -->
                        <div class="red">异常</div>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12">
                    <h4 class="font-bold">{{vm.title}}耗能趋势图</h4>
                    <div style="height:200px;" ui-echarts="vm.rightFloorPolyData">
                    </div>
                </div>
            </div>
            <!--展示单层楼的能耗表  -->
            <div ng-show="vm.showGround">
                <div class="col-lg-12 col-sm-12 b-b b-2x">
                    <h4 class="font-bold">{{vm.title}}能耗表概况</h4>
                    <div class="col-lg-4 col-sm-4 text-center">
                        <h3>{{vm.rightGroundData.total}}</h3>
                        <div>能耗表总数</div>
                    </div>
                    <div class="col-lg-4 col-sm-4 text-center">
                        <h3>{{vm.rightGroundData.regular_num}}</h3>
                        <div>正常</div>
                    </div>
                    <div class="col-lg-4 col-sm-4 text-center m-b-md">
                        <h3>{{-(-vm.rightGroundData.fail_num - vm.rightGroundData.broken_num)}}</h3>
                        <div class="red">异常</div>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12">
                    <h4 class="font-bold">{{vm.title}}耗能趋势图</h4>
                    <div style="height:200px;" ui-echarts="vm.rightGroundPolyData">
                    </div>
                </div>
            </div>
        </div>
    </big-screen>
</div>
</div>
<style>
    .right-panel {
        height: 100%;
        overflow: auto;
    }
</style>