<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()">×</button>
	<button class="btn btn-primary pull-right"  ng-click="" >打印</button>
    <button class="btn btn-info pull-right"   ng-click="" >导出</button>
	<h4 class="modal-title">监测日志>西奥 > 型号/规格>设备名称</h4>
</div>
<div class="modal-body">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>传输时间</th>
				<th>监测参数1</th>
				<th>监测参数2</th>
				<th>监测参数3</th>
				<th>监测参数4</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			  <td>2017-02-10 10:20:20</td>
			  <td>30度</td>
			  <td>34ml</td>
			  <td>10pa</td>
			  <td>30度</td>
			</tr>
			<tr>
			  <td>2017-02-10 10:20:20</td>
			  <td>30度</td>
			  <td>34ml</td>
			  <td>10pa</td>
			  <td>30度</td>
			</tr>
			<tr>
			  <td>2017-02-10 10:20:20</td>
			  <td>30度</td>
			  <td>34ml</td>
			  <td>10pa</td>
			  <td>30度</td>
			</tr>
			<tr>
			  <td>2017-02-10 10:20:20</td>
			  <td>30度</td>
			  <td>34ml</td>
			  <td>10pa</td>
			  <td>30度</td>
			</tr>
			<tr>
			  <td>2017-02-10 10:20:20</td>
			  <td>30度</td>
			  <td>34ml</td>
			  <td>10pa</td>
			  <td>30度</td>
			</tr>
		</tbody>
	</table>
	<div class="page-footer clearfix">
		<ng-include src="'/common/pager.html'"></ng-include>
	</div>
</div>
