<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()">×</button>
	<h4 class="modal-title">设备选择器</h4>
</div>
<div class="modal-body container-fluid">
	<div class="col-xs-3">
        <build-selector host="search" callback="find"></build-selector>
	</div>
	<div class="col-xs-9">
		<div class="x_panel" >
			<div class="form-inline">
				<div class="form-group">
					<label>设备编码:</label>
					<input type="text" ng-model="search.EQUIP_CODE"  class="form-control" />
				</div>
				<div class="form-group">
					<label>设备名称:</label>
					<input type="text" ng-model="search.NAME"  class="form-control" />
				</div>
                <div class="form-group">
                    <label>设备惯用名:</label>
                    <input type="text" ng-model="search.equipSimpleName"  class="form-control" />
                </div>
				<div class="form-group" style="margin-left: 0">
					<label>设备分类:</label>
                    <div style="display:inline-block;width: 200px">
                         <layer-selector host="search" host-key="'equipTypeId'" host-text="'nodeText'" node-list="equipTypeTree"></layer-selector>
                    </div>
				</div>
				<button class="btn btn-default" ng-click="find(1)" >查询</button>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">设备列表</div>
			<div class="panel-body">
				<table class="table table-hover" style="table-layout: fixed">
					<thead class="title">
					<tr >
						<th style="width:30px" class="text-center">NO</th>
						<th style="width:150px">设备编码</th>
						<th style="width:150px">设备名称</th>
                        <th style="width:100px">设备惯用名</th>
						<th style="width:100px">分类</th>
						<!-- <th style="width:120px">位置</th> -->
					</tr>
					</thead>
					<tbody>
					<tr ng-if="pageModel.data.length == 0"><td colspan="100" class="text-center">暂无记录</td></tr>
					<tr ng-repeat="item in pageModel.data" ng-class="{'bg-success':item.id == $parent.curEquip.id}" role="button" ng-click="$parent.curEquip = item">
						<td class="text-center">{{$index + 1+pageModel.pageSize*pageModel.pageIndex}}</td>
						<td style="word-wrap: break-word">{{item.equip_code}}</td>
						<td>{{item.name}}</td>
                        <td>{{item.equip_simple_name}}</td>
						<td>{{item.type_name}}</td>
						<!-- <td>{{item.park_name}} {{item.stage_name}} {{item.floor_name}} {{item.house_name}}</td> -->
					</tr>
					</tbody>
				</table>
				<div class="page-footer clearfix">
					<ng-include src="'/common/pager.html'"></ng-include>
				</div>
			</div>
		</div>

		<div   class="form-group">
			选中设备：
			<strong style="margin-right: 15px" class="text-info">{{curEquip.name}}</strong><br/>
			分类：
			<strong style="margin-right: 15px">{{curEquip.type_name}}</strong><br/>
			<!--位置：
			<strong style="margin-right: 15px">
				{{curEquip.park_name}} {{curEquip.stage_name}} {{curEquip.floor_name}} {{curEquip.house_name}}
			</strong>-->
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="save()">确定</button>
	<button class="btn btn-warning" ng-click="cancel()">取消</button>
</div>
