
<ul class="fengTree" ng-if="nodeList.length">
    <li ng-repeat="node in nodeList" class="clearfix" >
        <div class="form-inline " ng-class="{'bg-success':node.state.selected}" >
            <i class="icon glyphicon " ng-click="node.state.expanded = !node.state.expanded"
                    ng-style="{visibility:node.nodes.length?'visible':'hidden'}"
                    ng-class="{'glyphicon-minus':node.state.expanded,'glyphicon-plus':!node.state.expanded}"></i>
            <span role="button" ng-click="$parent.selectNode(node)" >{{node.text}}</span>
            <span  ng-if="config.edit" class="edit-span">
                 <i class="icon glyphicon glyphicon-edit" ng-click="editNode(node,pnode)"></i>
                 <i class="icon glyphicon glyphicon-trash" ng-click="delNode(node)" ng-if="!(node.nodes && node.nodes.length)"></i>
            </span>
        </div>
        <tree-sensor  node-list ="node.nodes" pnode="node"  ng-if="node.state.expanded"></tree-sensor>
    </li>
</ul>
