<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()">×</button>
	<h4 class="modal-title">{{edit ? "编辑":"添加"}}</h4>
</div>
<div class="modal-body container-fluid form-horizontal">
	<form name="form" novalidate>
		<div class="form-group">
			<label class="col-sm-3 control-label">标签名称：</label>
			<div class="col-sm-8">
				<input type="text" required name="name" class="form-control" required ng-model="item.name">					
			</div>	
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="save(form, item)">确定</button>
	<button class="btn btn-warning" ng-click="cancel()">取消</button>
</div>