<!-- 工位操作弹窗 -->
<div class="modal-header" style="border-bottom: none;">
    <button type="button" class="close" ng-click="close()">×</button>
    <h4 class="modal-title">工位操作</h4>
</div>
<div  class="modal-body container-fluid" style="padding-top: 0;">
    <div style="border: 1px solid #ddd;margin: 15px;height: 500px;overflow: auto">
        <div class="positionList inline-blcok clearfix">
            <em class="title">工位列表</em>
            <em class="postionDetail">所在房间：</em><em  class="postionCont">{{houseName}}</em>
            <em class="postionDetail">工位数：</em><em  class="postionCont">{{pageModel.data.length || '0'}}</em>
            <div class="positionTable">
                <table class="table">
                    <thead>
                        <tr>
                            <th>工位名称</th>
                            <th>使用人</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr ng-if="!pageModel.data ||pageModel.data.length == 0">
                                    <td colspan="100" class="text-center">暂无记录</td>
                                </tr>
                        <tr ng-repeat="item in pageModel.data" ng-class="{'bg-success':item.id == positionId}">
                            <td style="max-width:200px">{{item.name}}</td>
                            <td>{{item.staff.name}}</td>
                            <td>
                                <a href='javascript:void(0)' ng-click="show(item)" class='btn btn-xs'><em class='fa fa-search'></em>详情</a>
                                <a href='javascript:void(0)' ng-if="item.staff.name" class='btn btn-xs' ng-click="unbind(item)"><em class='fa fa-chain-broken'></em>解绑</a>
                            </td>
                        </tr>                      
                    </tbody>
                </table>
                <div class="page-footer clearfix">
                    <ng-include src="'/common/pager.html'"></ng-include>
                </div>
            </div>
        </div>
        <div class="positionDetail inline-blcok clearfix">
            <div>
                <em class="title">绑定历史详情</em>
            </div>
            <div class="positionTable">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>使用人</th>
                        <th>绑定日期</th>
                        <th>解绑日期</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="!bindList.data ||bindList.data.length == 0">
                                <td colspan="100" class="text-center">暂无记录</td>
                            </tr>
                    <tr ng-repeat="item in bindList.data">
                        <td>{{item.staff.name}}</td>
                        <td>{{item.createTime}}</td>
                        <td>{{item.updateTime}}</td>
                    </tr>                   
                </tbody>
            </table>
            <div class="page-footer clearfix">
                <div class="page"  style="font-size:12px;">
                    <ul class="pagination pull-left" ng-show ="bindList.pageTotal">
                        <li ><span style="height:31px;">每页
                          <select  style="width:50px;padding:0;border:none" type="number"   ng-model="bindList.pageSize" ng-change="findDetail(1)" ng-options="o[0] as o[1] for o in [[10,'&nbsp;&nbsp;&nbsp;10'],[20,'&nbsp;&nbsp;&nbsp;20'],[50,'&nbsp;&nbsp;&nbsp;50'],[100,'&nbsp;&nbsp;&nbsp;100']]">
                          </select>条</span></li>
                        <li ng-if="$first" role="button" ng-repeat-start="page in bindList.pages track by $index"  ng-class="{disabled:bindList.currentPage ==1}" ng-click="bindList.currentPage >1 && findDetail(bindList.currentPage-1)"><a>«</a></li>
                        <li ng-class="{active:page==bindList.currentPage}" role="button">
                            <a ng-if="page>0" ng-click="findDetail(page)">{{page}}</a>
                            <span ng-if="!(page>0)" style="border-top:none;border-bottom:none">{{page}}</span>
                        </li>
                        <li ng-if="$last" role="button" ng-repeat-end ng-class="{disabled:bindList.currentPage == bindList.pageTotal}" ng-click="bindList.currentPage < bindList.pageTotal && findDetail(bindList.currentPage+1)"><a>»</a></li>
                        <li><span>共{{bindList.totalCount}}条记录</span></li>
                    </ul>
                </div>
            </div>
            </div>
    </div>
    
    </div>
</div>
<div class="modal-footer">
        <button class="btn" ng-click="close()">关闭</button>
    </div>
<style>
   
    .inline-blcok{
        display:inline-block;
       
       
    }
.positionList{
    border-right: 1px solid #ddd;
    width: 50%;
    padding: 15px;
    height: 100%;
}
.positionDetail,.asignStaff{
    padding: 15px;
    width: 49%;
    vertical-align:top
}
em.title{
    font-size: 18px;
margin: 10px;
font-weight: 700;

}
.postionDetail{
    font-size: 14px;
    margin: 12px 5px 0px 10px;
}
.postionCont{
    color: red;
    margin: 12px 5px 0px 0px;
}
table tr th,
    table tr td {
        text-align: center;
    }
    .btn {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
}
.btn-xs {
padding: 1px 5px;
font-size: 12px;
line-height: 1.5;
border-radius: 3px;
}
em{
font-style: normal
}
.positionTable{
width: 100%;
margin-top: 20px
}
.bg-success {
background-color: #dff0d8;
}
.content{
width: 180px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


</style>
