<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()">×</button>
	<h4 class="modal-title">编辑{{item.type==1?"工位":"车位"}}</h4>
</div>
<div class="modal-body container-fluid form-horizontal">
	<div class="form-group">
		<label class="col-xs-2 control-label" >空间名称：</label>
		<div  class="col-xs-4">
			<input type="text" class="form-control" ng-model="item.name"/>
		</div>	
		<label class="col-xs-2 control-label">编码：</label>
		<div  class="col-xs-4">
			<input type="text" class="form-control" readonly="readonly" ng-model="item.code"/>
		</div>	
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="assetSave()" >确定</button>
	<button class="btn btn-warning" ng-click="cancel()">关 闭</button>
</div>
