@CHARSET "UTF-8";
.div-group{
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.div-panel{
    /* width: 86px; */
    color: #989898;
    background-color:#fff;
    border: 1px solid #E6E9ED;
    display: inline-block;
    padding: 6px 12px;
    margin: 0;
    /*margin-right: 15px;*/
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
 }
 .div-active{
    color: #fff;
    background-color: #5891eb;
 }