<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h4 class="modal-title text-center">导入计量点</h4>
</div>
<div class="modal-body container-fluid form-horizontal">
	<div class="panel-body">
	    <div style="text-align: center;padding: 10px 0">
	      <button type="button" class="btn btn-primary" style="margin: 0 10px" ng-click="outputTemplate()">导出模板</button>
	      <button type="button" class="btn btn-primary" style="margin: 0 10px" ng-click="inputFile()">导入模板</button>
	    </div>
	</div>
</div>
<!--<div class="modal-footer">
    <button class="btn btn-primary" ng-click="save(form,item)">确定</button>
    <button class="btn btn-warning" ng-click="cancel()">取消</button>
</div>-->
