<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h4 class="modal-title">批量设置使用状态</h4>
</div>
<div class="modal-body container-fluid form-horizontal">
    <form name="form" novalidate>
        <div class="col-xs-8">
            <div class="form-group">
                <label class="col-xs-4 control-label required">使用状态:</label>
                <div class="col-xs-7">
                    <select class="form-control" required ng-model="item.useStatus"
                            ng-options="o[0] as o[1] for o in [[1,'启用'],[2,'停用']]">
                        <option value="">--请选择--</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>

</form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="save(form,item)">确定</button>
    <button class="btn btn-warning" ng-click="cancel()">取消</button>
</div>
