<div ng-controller="PointCtrl" >
	<div class="page-title">
		<div class="title_left">
			<h3>巡查点管理</h3>
		</div>
	</div>
	<div class="row" ng-if="search.isGroup">
		<div class="col-xs-12">
			<label class="control-label">
				<i class="fa fa-map-marker" style="font-size: 15px;margin-right:5px"></i>
				<a role="button" ng-click="findPark(search,find)">{{search.parkName?search.parkName:'请选择项目'}} </a>
			</label>
		</div>
	</div>
	<div class="x_panel" >
				<div class="form-inline">
					<div class="form-group">
						<label>点位名称</label>
						<input type="text" ng-model="search.name"   class="form-control" />
					</div>
					<div class="form-group">
						<label>点位类型</label>
						<select class="form-control" ng-model="search.type"  ng-options="o[0] as o[1] for o in pointTypeDict">
							<option value="">--请选择--</option>
						</select>
					</div>

					<button class="btn btn-default" ng-click="find(1)" >查询</button>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					巡查点列表
					<!-- <ul class="nav nav-tabs">
					    <li role="presentation" class="active"><a href="#">室内点位</a></li>
						<li role="presentation"><a href="#">室外点位</a></li>
					</ul> -->
					<button class="btn btn-primary pull-right" ng-click="showEditModal()">添加巡查点位</button>
				</div>
				<div class="panel-body">
					<table class="table table-striped table-hover" style="margin-top: 10px;">
						<thead class="title">
						<tr>
							<th class="text-center">NO</th>
							<th>点位名称</th>
							<th>摄像头名称</th>
							<th>类型</th>
							<th>创建时间</th>
							<th>操作</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-if="!pageModel.data  || pageModel.data.length == 0"><td colspan="100" class="text-center">暂无记录</td></tr>
						<tr ng-repeat="item in pageModel.data">
							<td class="text-center">{{$index + 1+pageModel.pageSize*pageModel.pageIndex}}</td>
							<td>{{item.name}}</td>
							<td>{{item.videoName}}</td>
							<td>{{item.type | keyToValue:pointTypeDict}}</td>
							<td>{{item.createTime}}</td>
							<td>
								<a href='javascript:void(0)' ng-click='playVideo(item.equipmentId)' class='btn btn-xs'><span class='fa fa-camera'></span>视频监控</a>
								<a href='javascript:void(0)' ng-click='showLocation(item)' class='btn btn-xs'><span class='fa fa-location-arrow'></span>查看位置</a>
								<a href='javascript:void(0)' ng-click='setType(item.insPointId)' class='btn btn-xs'><span class='fa fa-wrench'></span>设置巡查项</a>
								<a href='javascript:void(0)' ng-click='showEditModal(item.insPointId)' class='btn btn-xs'><span class='fa fa-edit'></span>编辑</a>
								<a href='javascript:void(0)' ng-click='del(item.insPointId)' class='btn btn-xs'><span class='fa fa-trash'></span>删除</a>
							</td>
						</tr>
						</tbody>
					</table>
					<div class="page-footer clearfix">
						<ng-include src="'/common/pager.html'"></ng-include>
					</div>
				</div>
			</div>
</div>
<style>
	table tr td{
        text-align: center
    }
</style>