<style>
    .div-group {
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }

    .div-panel {
        width: 86px;
        color: #989898;
        background-color: #fff;
        border: 1px solid #E6E9ED;
        display: inline-block;
        padding: 6px 12px;
        margin: 0;
        margin-right: 15px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .div-active {
        color: #fff;
        background-color: #5891eb;
    }

    .a_house {
        color: #009DDC;
        font-size: 13px;
        font-weight: 400;
        padding: 0;
    }

    .btn_search {
        width: 80px;
        color: #fff;
        background-color: #5891eb;
    }

    .label_search {
        color: #989898;
        padding: 0 5px 0 8px;
    }

    .status_hasFix {
        color: #ff747d;
    }

    .btn-oper {
        background-color: #fff;
        border: 1px solid #78c4ec;
        color: #78c4ec;
        padding: 3px 10px;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        height: 45px;
    }
    .checkbox-inline{
	    margin-left: 10px;
        font-size: 14px
    }
    .checkbox-inline input[type="checkbox"] {
        visibility:visible;
    }
</style>
<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h4 class="modal-title">{{item.id ? '编辑':'添加'}}底部菜单</h4>
</div>
<div class="modal-body container-fluid form-horizontal">
    <div class="x_content" style="max-height:650px;overflow: auto;overflow-x: hidden">
        <form name="form" novalidate>

            <div class="form-group">
                <label class="col-xs-3 control-label">配置类型：</label>
                <div class="col-xs-4">
                    <input class="form-control" ng-model="parentServiceName" type="text" disabled="disabled"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label required">排序号：</label>
                <div class="col-xs-8">
                    <input class="form-control" ng-model="item.orderNo" required type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label required">菜单名称：</label>
                <div class="col-xs-8">
                    <input class="form-control" ng-model="item.serviceName" required type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">菜单说明：</label>
                <div class="col-xs-8">
                    <textarea type="text" cols="6" style="resize:vertical" class="form-control"
                              ng-model="item.serviceInfo"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">服务路由：</label>
                <div class="col-xs-8">
                    <input class="form-control" ng-model="item.appServiceUrl" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">H5路径：</label>
                <div class="col-xs-8">
                    <input class="form-control" ng-model="item.appH5Url" type="text">
                </div>
            </div>
            <div class="form-group" >
                <label class="col-xs-3 control-label required">LOGO图-未选中状态：</label>
                <div class="col-xs-4 thumbnail text-center" style=" margin-left: 12px;margin-bottom: 0">
                    <img alt="" onerror="this.src='/res/img/detail.png';"
                         ng-click="showPhoto()"
                         ng-src="{{processImgUrl(item.appLogoUrl,'240')}}" 
                         style="max-height: 180px;"/>
                    <div class="caption">
                        <p>
                            <button class="btn btn-warning height34" ng-click="clearPhoto(item,'appLogoUrl')">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                            <button class="btn btn-default height34" ng-click="addPhoto(item,'appLogoUrl',true)">
                                <i class="glyphicon glyphicon-picture "></i>
                            </button>
                        </p>
                    </div>
                </div>
                <div class="col-xs-4">
                    <!-- <div style="line-height: 60px">统一图片尺寸要求：48*48</div> -->
                </div>
            </div>
            <div class="form-group" >
                <label class="col-xs-3 control-label required">LOGO图-选中状态：</label>
                <div class="col-xs-4 thumbnail text-center" style=" margin-left: 12px;margin-bottom: 0">
                    <img alt="" onerror="this.src='/res/img/detail.png';"
                         ng-click="showPhoto()"
                         ng-src="{{processImgUrl(item.appLogo2,'240')}}" 
                         style="max-height: 180px;"/>
                    <div class="caption">
                        <p>
                            <button class="btn btn-warning height34" ng-click="clearPhoto(item,'appLogo2')">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                            <button class="btn btn-default height34" ng-click="addPhoto(item,'appLogo2',true)">
                                <i class="glyphicon glyphicon-picture "></i>
                            </button>
                        </p>
                    </div>
                </div>
                <div class="col-xs-4">
                    <!-- <div style="line-height: 60px">统一图片尺寸要求：48*48</div> -->
                </div>
            </div>
  
            <div class="form-group">
                <label class="col-xs-3 control-label">关联服务：</label>
                <div class="col-sm-8 col-xs-8" >
                    <label>待选区</label>
                    <div style="border:1px solid #ccc;width:100%;padding:10px;overflow-y:scroll">
                        <ul id="AppServerTree"></ul>  
                    </div>

                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label"></label>
                <div class="col-sm-8 col-xs-8">
                    <label>已选区</label>
                    <ul style="border:1px solid #ccc;width:100%;padding:10px;overflow-y:scroll">
                        <li ng-repeat="item in personDeptTree track by $index" style="overflow: hidden;margin: 5px;">  
                                <span style="margin-left: 40px;">{{item.serviceName}}</span>
                                <a class="btn-oper" href="javaScript:;" style="float: right;"
                                    ng-click="delPro(item)">删除
                                </a>
                                <a class="btn-oper" href="javaScript:;" style="float: right;"
                                ng-click="moveDown(personDeptTree,$index)">下移
                                </a>  
                                <a class="btn-oper" href="javaScript:;"  style="float: right;"
                                    ng-click="moveUp(personDeptTree,$index)">上移
                                </a> 
                                      
                        </li>
                    </ul>
                </div>
            </div>

            

            <div class="form-group" >
                <label class="col-xs-3 control-label required">用户权限：</label>
                <div class="col-xs-8">
                    <label class="checkbox-inline">
                        <input  type="checkbox"  ng-model="userClassify.enterprise" ng-true-value=true ng-false-value=false >实体企业
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox"  ng-model="userClassify.virtualCom" ng-true-value=true ng-false-value=false >虚拟企业
                    </label>
                    <label class="checkbox-inline">
                        <input  type="checkbox"  ng-model="userClassify.staff" ng-true-value=true ng-false-value=false >员工
                    </label>
                    <label class="checkbox-inline">
                        <input  type="checkbox"  ng-model="userClassify.personal" ng-true-value=true ng-false-value=false >个人
                    </label>
                    <label class="checkbox-inline">
                        <input  type="checkbox"  ng-model="userClassify.operation" ng-true-value=true ng-false-value=false >运营人员
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label">是否默认：</label>
                <div style="padding-top: 7px;" class="col-md-5" ng-init="item.isDefault = item.isDefault ? item.isDefault : '0'" >
                    <label>
                        <input type="radio" name="isDefault" ng-value="0"  ng-model="item.isDefault" class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required" value="0" aria-checked="true" aria-required="false" aria-invalid="false">
                        <span>否</span>
                    </label>
                    &nbsp;&nbsp;
                    <label>
                        <input type="radio" name="isDefault" ng-value="1"  ng-model="item.isDefault" class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required" value="1" aria-checked="false" aria-required="false" aria-invalid="false">
                        <span>是</span>
                    </label>
                </div>
            </div>

        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary save" ng-click="save(form)">确定</button>
    <button class="btn btn-warning" ng-click="cancel()">取消</button>
</div>

<style>
	.clearSel{
		position: absolute;
		top: 37px;
		right: 49px;
		color: #666;
		cursor: pointer;
	}
</style>