<div ng-controller="pointFaultStatisticsCtrl as vm">
	<div class="page-title">
		<div class="title_left">
			<h4>消防点故障统计</h4>
		</div>
	</div>
	<!-- <div class="x_panel" >
		<div class="form-inline">
			<div class="form-group">
                 <label>日期</label>
                 <input style="width: 140px;" type="datetime" class="form-control Wdate" ng-model="vm.search.startTime" placeholder="开始日期" onchange="" onclick="javascript:WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:&quot;#F{$('.Wdate').last().val()||'%y-%M-%d'}&quot;})">
                 <label>-</label>
                 <input style="width: 140px;" type="datetime" class="form-control Wdate" ng-model="vm.search.endTime" placeholder="结束日期" onchange="" onclick="javascript:WdatePicker({dateFmt:'yyyy-MM-dd',minDate:&quot;#F{$('.Wdate').first().val()}&quot;,maxDate:'%y-%M-%d'})">
             </div>
			<button class="btn btn-default" ng-click="vm.init()" >查询</button>
		</div>
	</div> -->

	<div class="row">
		<div class="col-lg-3 col-sm-3 col-xs-3">
			<div class="x_panel" style="height: 600px;overflow: auto;">
				<div class="x_content" style="z-index: 1;">
					<div class="list-group">
                       <input class="form-control" style="margin-bottom: 10px" placeholder="请输入项目名称搜索" ng-model="q"/>
                    	<a href="javascript:;;" ng-click="vm.searchProject(item.id)"  style="margin-bottom: 10px" ng-class="{'active':(search.parkId==item.id)}"
						   type="button" class="list-group-item btn btn-default" ng-repeat="item in projectsList | filter:{name:q} as results track by $index">{{item.name}}</a>
                    </div>
				</div>
			</div>
		</div>
		<div class="col-lg-9 col-sm-9 col-xs-9">
			<div class="col-lg-12 col-sm-12 col-xs-12">
				<div class="x_panel" style="height: 600px;overflow: auto;">
					<div class="x_title">消防点类型故障统计 </div>
					<div class="x_content" style="z-index: 1;">
						<div class="form-inline">
							<div class="form-group">
				                 <label>故障时间</label>
				                 <input style="width: 140px;" type="datetime" class="form-control Wdate" ng-model="search.STAR" placeholder="开始日期" onchange="" onclick="javascript:WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:&quot;#F{$('.Wdate').last().val()||'%y-%M-%d'}&quot;})">
				                 <label>-</label>
				                 <input style="width: 140px;" type="datetime" class="form-control Wdate" ng-model="search.END" placeholder="结束日期" onchange="" onclick="javascript:WdatePicker({dateFmt:'yyyy-MM-dd',minDate:&quot;#F{$('.Wdate').first().val()}&quot;,maxDate:'%y-%M-%d'})">
				             </div>
							<div class="form-group">
							  	 <label>故障地点</label>
				                 <input style="width: 140px;" type="text" class="form-control" ng-model="search.fireAddress" >
				             </div>
							<button class="btn btn-default" ng-click="find(1)" >查询</button>
						</div>
						<div class="col-lg-12 col-sm-12 col-xs-12">
							<table class="table  table-hover ">
		                       <thead>
		                           <tr>
									   <th>消防点名称</th>
		                               <th>故障时间</th>
		                               <th>故障地点</th>
		                               <th>执行人</th>
		                               <th>执行时间</th>
		                           </tr>
		                       </thead>
		                       <tbody>
		                           <tr ng-if="!pageModel.data  || pageModel.data.length == 0">
									   <td colspan="100" class="text-center">暂无记录</td></tr>
									<tr ng-repeat="item in pageModel.data">
		                               <td>{{item.name}}</td>
		                               <td>{{item.createTime}}</td>
		                               <td>{{item.fireAddress}}</td>
		                               <td>{{item.execPersonName}}</td>
										<td>{{item.finishTime}}</td>
		                           </tr>
		                       </tbody>
		                   </table>
		                   <div class="page-footer clearfix" >
								<ng-include src="'/common/pager.html'"></ng-include>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<style>
	.active{
		background-color: #337ab7;
	}

</style>