<!--运营指标体系》设施设备指标-->
<div>
    <big-screen gaode-data="vm.gaodeData" indoor-data="vm.indoorData" park-no="vm.parkNo" type="vm.type">
        <div class="">
            <div class="col-lg-12 col-sm-12 b-b b-2x">
                <h4 class="font-bold">设施设备指标</h4>
                <div style="height:300px;" ui-echarts="vm.equipmentData">
                </div>
            </div>
            <div class="col-lg-12 col-sm-12 b-b b-2x">
                <h4 class="font-bold">工单数</h4>
                <div style="height:200px;" ui-echarts="vm.orderData">
                </div>
            </div>
            <div class="col-lg-12 col-sm-12">
                <h4 class="font-bold">设备监测参数</h4>
                <div class="col-lg-12 col-sm-12" ng-repeat="item in vm.sensorList">
                    <p>{{item.name}}:{{item.val}}{{item.unit}}</p>
                </div>
            </div>
         <!--   <div class="col-lg-12 col-sm-12">
                <h4 class="font-bold">停车位经营情况</h4>
                <div style="height:200px;" ui-echarts="vm.parkData">
                </div>
            </div>-->
            <div class="col-lg-12 col-sm-12 b-b b-2x">
            <h4 class="font-bold">设备工单列表(总数:{{vm.workUnitList.length || 0}}条)</h4>
            <table class="table">
              <thead class="title">
              <tr>
                <th>工单位置</th>
                <th>执行人</th>
                <th>工单状态</th>
              </tr>
              </thead>
              <tbody>

              <!--<tr ng-repeat="item in vm.EquipmentRoomList | limitTo : vm.num"-->
              <!--ng-class="{myactive : vm.checked==item.id}"-->
              <!--ng-click="vm.checkOne(item.id)">-->
              <!--<td>{{item.name}}</td>-->
              <!--<td>{{item.val}}</td>-->
              <!--</tr>-->
              <tr ng-repeat="item in vm.workUnitList">
                <td>{{vm.location}}</td>
                <td>{{item.NAME}}</td>
                <td>{{item.UNIT_STATUS|keyToValue:vm.statusList}}</td>
              </tr>
              <!--<tr ng-if="vm.EquipmentRoomList.length>=4">-->
              <!--<td colspan="2">-->
              <!--<a  class="more" ng-click="vm.getmore()">{{vm.info}}</a>-->
              <!--</td>-->
              <!--</tr>-->

              </tbody>
            </table>
          </div>
        </div>

    </big-screen>
</div>
