<div class="panel panel-default">
	
	<div class="panel-body">
		<table class="table table-striped table-hover" style="margin-top: 10px;">
			<thead ng-if="setCurTabName=='wy'">
				<tr>
					<th class="text-center">NO</th>
					<th>部门名称</th>
					<th>已完成路线数</th>
					<th>未完成路线数</th>
					<th>总路线</th>
					<th>完成率</th>
				</tr>
			</thead>
			<thead ng-if="setCurTabName!=='wy'">
				<tr>
					<th class="text-center">NO</th>
					<th>项目名称</th>
					<th>已完成路线数</th>
					<th>未完成路线数</th>
					<th>总路线</th>
					<th>完成率</th>
					
				</tr>
			</thead>
			<tbody ng-if="setCurTabName=='wy'">
				<tr ng-if="!pageModel.data  || pageModel.data.length == 0">
					<td colspan="100" class="text-center">暂无记录</td>
				</tr>
				<tr ng-repeat="item in pageModel.data track by $index">
					<td>{{$index + 1+pageModel.pageSize*search.pageIndex}}</td>
					<td>{{item.deptName}}</td>
					
					<td>{{item.finishNum}} </td>
					<td>{{item.unfinishNum}} </td>
					<td>{{item.totalNum}}</td>
					<td>{{item.finishRate}}</td>
				</tr>
			</tbody>
			<tbody ng-if="setCurTabName!=='wy'">
				<tr ng-if="!pageModel_zyh  || pageModel_zyh.length == 0">
					<td colspan="100" class="text-center">暂无记录</td>
				</tr>
				<tr ng-repeat="item in pageModel_zyh track by $index">
					<td>{{$index + 1}}</td>
					<td>{{item.domainName}}({{item.parkName}})</td>
					<td>{{item.finishNum}} </td>
					<td>{{item.unfinishNum}} </td>
					<td>{{item.totalNum}}</td>
					<td>{{item.finishRate}}</td>
				</tr>
			</tbody>
		</table>
		<div class="page-footer clearfix">
			<page-pro page-model="pageModel" ng-if="setCurTabName=='wy'"></page-pro>
			
		</div>
	</div>
</div>
<style>
 table tr th,
        table tr td {
            text-align: left;
        }
</style>
