<div class="modal-header">
        <h4 class="modal-title">上传文件</h4>
    </div>
    <div class="modal-body container-fluid form-horizontal">
        <form name="form" novalidate>
        	<div ng-repeat="item in items track by $index">
	            <!--<div class="form-group">
	                <label class="col-xs-2 control-label required">文件名</label>
	                <div class="col-xs-8">
	                    <input type="text" class="col-xs-10 form-control" required ng-model="item.fileName" name="fileName" />
	                </div>
	            </div>-->
	            <div class="form-group">
	                <label class="col-xs-2 control-label">画册文件</label>
	                <div class="col-xs-8">
		                <input type="text" class="col-xs-6 my-form-control" ng-model="item.fileName" name="fileName" />
		                <button class="btn btn-info" ng-click="uploadFile(item)" style="margin-left: 5px;">选择文件</button>
		                <a class="btn btn-primary pull-right" href="javascript:void(0)" ng-click="delFile(item)" aria-label="Delete">
		                    <i class="glyphicon glyphicon-minus" aria-hidden="true"></i>
		                </a>
	            	</div>
	            </div>
	        </div>
	        <button class="btn btn-default pull-left" ng-click="moreFile()">新增画册</button>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="save(form,items)">确定</button>
        <button class="btn btn-warning" ng-click="cancel()">取消</button>
    </div>