<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>兑换管理</title>
    <link rel="stylesheet" href="operationManage/groupCustomService/style.css">
</head>
<body>
<div id="angularId" ng-controller="projectIntegralCtrl">
    <div class="page-title">
        <div class="title_left">
            <h3>兑换管理</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 col-sm-8 col-xs-12" style="width: 95%;">
            <div class="div-group"></div>
            <div class="x_panel">
                <div class="form-inline">
                    <div class="form-group">
                        <div class="form-group">
                            <label class="label_search">账户类型</label>
                            <select class="form-control" ng-model="search.mainType" style="width: 180px;">
                                <option value="">全部</option>
                                <option value="3">员工</option>
                                <option value="2">企业</option>
                                <option value="1">个人</option>
                            </select></div>
                    </div>
                    <div class="form-group">
                        <label class="label_search">账号</label>
                        <input class="form-control" type="text" ng-model="search.customerName">
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="label_search">审核状态</label>
                            <select class="form-control" ng-model="search.integralStatus" style="width: 180px;">
                                <option value="">请选择</option>
                                <option value="0">未审核</option>
                                <option value="1">已审核</option>
                            </select></div>
                    </div>
                    <button class="btn btn-default" ng-click="query()">查询</button>
                </div>
                <table class="table table-striped table-hover" style="margin-top: 10px;">
                    <thead class="title">
                    <tr>
                        <th class="">提交日期</th>
                        <th class="">账户类型</th>
                        <th class="">账号</th>
                        <th class="">兑换类型</th>
                        <th class="">总换额（元）</th>
                        <th class="">审核状态</th>
                        <th class="">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-if="!pageModel.data||pageModel.data.length == 0">
                        <td colspan="100" class="text-center">暂无记录</td>
                    </tr>
                    <tr ng-repeat="item in pageModel.data">
                        <td class="" style="min-width: 120px">{{item.updateDate?(item.updateDate |date:'yyyy-MM-dd'):'--'}}</td>
                        <td class="">
                            {{item.mainType=='1'?'个人 ':item.mainType=='2'?'企业':'员工'}}
                        </td>
                        <td class="">{{item.customerName||'--'}}</td>
                        <td class="">{{item.expenditureTypeName||'--'}}</td>
                        <td class="">{{item.amount||'--'}}</td>
                        <td class="">{{item.status=='0'?'未审核':item.status=='1'?'已拒绝':'已通过'}}</td>
                        <td class="">
                            <button class="btn btn-oper" ng-click='showItem(item)'>{{item.status=='0'?'审核':'查看'}}</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="page-footer clearfix">
                    <ng-include src="'/common/pager.html'"></ng-include>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
