<div class="input-group" style="white-space: nowrap;width: 100%">
    <input type="text" class="form-control" ng-required="need" ng-focus="state.focus=true"  ng-blur="state.focus=false" placeholder="{{tipText ? tipText: '请筛选'}}"  ng-model="host[hostText]" readonly ng-disabled="host.readOnly" />
    <span ng-if="!host.readOnly" style="margin-left: -34px">
        <layer-select node-list="nodeList" host="host" ng-show="state.focus||state.hover" ng-mouseover="state.hover=true" ng-mouseleave="state.hover=false" class="layerSelect" style="left: 0px;top:34px;" ></layer-select>
        <span class="input-group-btn" style="vertical-align:baseline">
        <button class="btn btn-default" ng-click="clear(host)" style="height: 34px"><i class='fa fa-close'></i></button>
        </span>
    </span>
</div>
