		<div class="modal-header">
			<button type="button" class="close" ng-click="cancel()">×</button>
			<h4 class="modal-title">设备故障率数据录入</h4>
	    </div>
	    <div class="modal-body container-fluid form-horizontal">
			<form name="form" novalidate>
					<div class="form-group">
						<label class="col-xs-2 control-label">所属项目：</label>
						<div class="col-xs-4">
							<select class="form-control"  name="" >
								<option value="">--请选择--</option>
								<option value="">丽岛2046</option>
								<option value="">丽岛花园</option>
							</select>
						</div>
						<label class="col-xs-2 control-label">月份：</label>
						<div class="col-xs-2">
							<select class="form-control"  name="" >
								<option value="">--请选择--</option>
								<option value="">2016</option>
								<option value="">2017</option>
								<option value="">2018</option>
							</select>
						</div>
						<div class="col-xs-2">
							<select class="form-control"  name="">
								<option value="">--请选择--</option>
								<option value="">01</option>
								<option value="">02</option>
								<option value="">03</option>
							</select>
						</div>
					</div>
					<div class="form-group">						
						<label class="col-xs-2 control-label">设备品牌：</label>
						<div class="col-xs-10">
							<input type="text" class="form-control"/>
						</div>						
					</div>
					<div class="form-group" style="border-bottom: 1px solid #ddd; font-size: 18px;">						
						设备故障率
					</div>
					<div class="form-group">
						<div class="col-xs-2"></div>
						<div class="col-xs-3 text-left">
							设备数量
						</div>
						<div class="col-xs-3 text-left">
							设备故障率
						</div>
						<div class="col-xs-3 text-left">
							设备工单数
						</div>
					</div>
					<div class="form-group">												
						<label class="col-xs-2 control-label">弱电：</label>
						<div class="col-xs-2">
							<input type="text" class="form-control"/>
						</div>
						<div class="col-xs-1 text-center unit">
							台
						</div>	
						<div class="col-xs-2">
							<input type="text" class="form-control"/>
						</div>
						<div class="col-xs-1 text-center unit">
							%
						</div>	
						<div class="col-xs-2">
							<input type="text" class="form-control"/>
						</div>
						<div class="col-xs-1 text-center unit">
							条
						</div>				
					</div>
					<div class="form-group">												
						<label class="col-xs-2 control-label">强电：</label>
						<div class="col-xs-2">
							<input type="text" class="form-control"/>
						</div>
						<div class="col-xs-1 text-center unit">
							台
						</div>	
						<div class="col-xs-2">
							<input type="text" class="form-control"/>
						</div>
						<div class="col-xs-1 text-center unit">
							%
						</div>	
						<div class="col-xs-2">
							<input type="text" class="form-control"/>
						</div>
						<div class="col-xs-1 text-center unit">
							条
						</div>				
					</div>
					<div class="form-group">												
						<label class="col-xs-2 control-label">消防：</label>
						<div class="col-xs-2">
							<input type="text" class="form-control"/>
						</div>
						<div class="col-xs-1 text-center unit">
							台
						</div>	
						<div class="col-xs-2">
							<input type="text" class="form-control"/>
						</div>
						<div class="col-xs-1 text-center unit">
							%
						</div>	
						<div class="col-xs-2">
							<input type="text" class="form-control"/>
						</div>
						<div class="col-xs-1 text-center unit">
							条
						</div>				
					</div>
					<div class="form-group">												
						<label class="col-xs-2 control-label">给排水：</label>
						<div class="col-xs-2">
							<input type="text" class="form-control"/>
						</div>
						<div class="col-xs-1 text-center unit">
							台
						</div>	
						<div class="col-xs-2">
							<input type="text" class="form-control"/>
						</div>
						<div class="col-xs-1 text-center unit">
							%
						</div>	
						<div class="col-xs-2">
							<input type="text" class="form-control"/>
						</div>
						<div class="col-xs-1 text-center unit">
							条
						</div>				
					</div>
					<div class="form-group">												
						<label class="col-xs-2 control-label">暖通：</label>
						<div class="col-xs-2">
							<input type="text" class="form-control"/>
						</div>
						<div class="col-xs-1 text-center unit">
							台
						</div>	
						<div class="col-xs-2">
							<input type="text" class="form-control"/>
						</div>
						<div class="col-xs-1 text-center unit">
							%
						</div>	
						<div class="col-xs-2">
							<input type="text" class="form-control"/>
						</div>
						<div class="col-xs-1 text-center unit">
							条
						</div>				
					</div>
					<div class="form-group">												
						<label class="col-xs-2 control-label">能源：</label>
						<div class="col-xs-2">
							<input type="text" class="form-control"/>
						</div>
						<div class="col-xs-1 text-center unit">
							台
						</div>	
						<div class="col-xs-2">
							<input type="text" class="form-control"/>
						</div>
						<div class="col-xs-1 text-center unit">
							%
						</div>	
						<div class="col-xs-2">
							<input type="text" class="form-control"/>
						</div>
						<div class="col-xs-1 text-center unit">
							条
						</div>				
					</div>
					<div class="form-group">												
						<label class="col-xs-2 control-label">电梯：</label>
						<div class="col-xs-2">
							<input type="text" class="form-control"/>
						</div>
						<div class="col-xs-1 text-center unit">
							台
						</div>	
						<div class="col-xs-2">
							<input type="text" class="form-control"/>
						</div>
						<div class="col-xs-1 text-center unit">
							%
						</div>	
						<div class="col-xs-2">
							<input type="text" class="form-control"/>
						</div>
						<div class="col-xs-1 text-center unit">
							条
						</div>				
					</div>
					<div class="form-group">												
						<label class="col-xs-2 control-label">传感器：</label>
						<div class="col-xs-2">
							<input type="text" class="form-control"/>
						</div>
						<div class="col-xs-1 text-center unit">
							台
						</div>	
						<div class="col-xs-2">
							<input type="text" class="form-control"/>
						</div>
						<div class="col-xs-1 text-center unit">
							%
						</div>	
						<div class="col-xs-2">
							<input type="text" class="form-control"/>
						</div>
						<div class="col-xs-1 text-center unit">
							条
						</div>				
					</div>

			</form>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="save(form,item)">确定</button>
			<button class="btn btn-warning" ng-click="cancel()">取消</button>
		</div>

