<!-- 设备房 -->
<div ng-controller="faceTrack">
    <div class="page-title">
        <div class="title_left">
            <h4>人脸识别  >></h4>
        </div>
    </div>
    <div class="x_panel" style="padding:0;">
        <div class="p-header">
            <div style="font-size: 0;display: flex;flex-direction: row;align-items: center" >
                <input type="text" class="p-ipt" placeholder="人脸识别点位" ng-model="search_text">
                <button class="search-00" ng-click="search00()"><img style="width: 24px;height: 24px;" src="../../image/search.png" alt=""></button>
            </div>
        </div>
        <div style="padding: 20px;max-height: 600px;overflow-y: scroll;overflow-x: hidden">
            <table class="table table-striped table-hover" style="margin-top: 10px;">
                <thead>
                <tr>
                    <th>人脸识别点位</th>
                    <th>陌生人数量</th>
                    <th ng-if="hasPower('通知工作人员')">操作</th>

                </tr>
                </thead>
                <tbody>

                <tr ng-if="screenList.length==0">
                    <td colspan="100" class="text-center">暂无记录</td>
                </tr>
                <tr ng-repeat="item in screenList ">
                    <td>{{item.name}}</td>
                    <td>{{item.strangerNum}}</td>
                    <td>
                        <button class="btn btn-default " style="margin-left: 5px"
                                ng-click="showDetail(item)" ng-if="hasPower('通知工作人员')">通知工作人员</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    .page-title{
        width: 100%;
        height: 60px;
        padding: 10px 30px;
        background-color: #E2F0FF;
    }
    .page-title h4{
        font-weight: bold;
        color: rgba(0,120,255,1);
    }

    .title{
        background:rgba(222,232,248,1);
        color: #0078FF
    }
    .p-header{
        background: #fff;
        display: flex;
        flex-direction: row;
        margin-top: 15px;
        margin-left: 20px;
    }
    .p-ipt{
        width:200px;
        height:30px;
        background:rgba(246,246,246,1);
        border:1px solid rgba(231,231,231,1);
        box-shadow:0px 1px 1px 0px rgba(0, 0, 0, 0.08);
        font-size: 15px;
    }
    .search-00{
        display: inline-block;
        width:40px;
        height:30px;
        background:rgba(0,120,255,1);
    }
    .checkbox-00{
        width: 20px;
        height: 20px;
    }
    .checkbox-00-lab{
        font-size:14px;
        font-family:MicrosoftYaHei;
        font-weight:400;
        color:rgba(102,102,102,1);
    }
    table tr th,
        table tr td {
            text-align: left;
        }
</style>



