<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h4 class="modal-title">{{name}}事件详情</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading" style="border-bottom: 2px solid #E6E9ED">陌生人照片</div>
                <div class="panel-body">
                    <div style="width: 100%;height: 320px;position: relative;display: flex;justify-content: center;align-items: center;background: #ccc" >
                        <div class="img-btn" style="left: 0" ng-click="selphoto(-1)" ng-if="imgUrls.length>1">
                            <
                        </div>
                        <div class="img-btn" style="right: 0" ng-click="selphoto(1)" ng-if="imgUrls.length>1">
                            >
                        </div>
                        <img style="height: 320px;" ng-src="{{imgUrls[imgUrlsIndex]}}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading" style="border-bottom: 2px solid #E6E9ED">事件点位</div>
                <div class="panel-body">
                    <div id="mainMap" ui-map="mainMap" style="height:320px; " ui-options="mainMapOptions"
                        ui-map-cache="mainMap">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
            <div class="panel-heading" style="border-bottom: 2px solid #E6E9ED">附近的人</div>
            <div class="panel-body" style="height: 265px;overflow: auto">
                <table class="table table-bordered" style="margin-top: 10px;">
                    <thead>
                        <tr>
                            <th>员工</th>
                            <th>距离</th>
                            <th>电话</th>
                            <th ng-if="hasPower('通知')">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="!personList ||personList.length == 0">
                            <td colspan="100" class="text-center">暂无记录</td>
                        </tr>
                        <tr ng-repeat="item in personList">
                            <td>{{item.personName}}</td>
                            <td>{{item.distance||'--'}}km</td>
                            <td>{{item.phone}}</td>
                            <td> <a href='javascript:void(0)' class='btn btn-xs btn-link' ng-click="tell(item.personId)" ng-if="hasPower('通知')">通知</a></td>

                        </tr>

                    </tbody>
                </table>
            </div>



        </div>
</div>
<style>
    .img-btn{
        position: absolute;
        width: 40px;
        height: 70px;
        border-radius: 3px;
        background: rgba(0,0,0,.3);
        text-align: center;
        color: #fff;
        line-height: 70px;
        font-size: 23px;
        top:125px;
        z-index: 9999;
        cursor: pointer;
    }
    .img-btn:hover{
        background: rgba(0,0,0,.8);
    }
    .equipTab {
        background-color: #ccc;
    }

    .equipTab li {
        float: left;
        margin-right: 40px;
        text-align: center;
        padding: 5px 10px;
    }

    .equipTab li a {
        width: 100%;
        display: block;
    }

    .active {
        background-color: #fff;
    }

    .abnormal {
        color: red
    }
</style>
