<div class="modal-header">
    <h3>导出选项</h3>
</div>
<div class="modal-body container-fluid form-horizontal">
    <form name="form" style="padding: 0 20px">
        <!-- <div class="form-group">
            <label  class="col-xs-3 control-label required">项目：</label>
            <div class="input-group col-xs-8">
                <input type="text" class="form-control" readonly="readonly" style="min-width: 250px" ng-model="search.parkName" />
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="findPark(search)">
                        <i class='fa fa-map-marker'></i>
                    </button>
                </span>
            </div>
        </div> -->
        <div class="form-group">
            <label class="required col-xs-3 control-label">选择计量分类</label>
            <select class="form-control col-xs-8" ng-model="item.classifyId" style="width: auto;display: inline-block" ng-options="o.classifyId as o.name for o in measureCategory">
                <option value="">--请选择--</option>
            </select>
        </div>
        <div class="form-group">
            <label class="required col-xs-3 control-label">选择抄表方式</label>
            <table  class="table-bordered col-xs-8">
                <thead>
                    <tr>
                        <th style="width: 100px;">
                            <input type="checkbox" ng-click="clickAll()" ng-model="allCheck">
                        </th>
                        <th style="width: 100px;">抄表方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="checkbox" ng-click="clickSingle()" ng-model="autoCheck">
                        </td>
                        <td>自动</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" ng-click="clickSingle()" ng-model="handCheck">
                        </td>
                        <td>手动</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
<div style="text-align: center;padding: 10px 0">
    <button class="btn btn-primary" style="margin: 0 10px" ng-click="confirm()">确定</button>
    <button class="btn btn-primary" style="margin: 0 10px" ng-click="cancel()">取消</button>
</div>