<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>财务平台</title>
    <link rel="stylesheet" href="rental/rent.css">
</head>

<body>
    <div id="angularId" ng-controller="contractFinacialCtrl">
        <div class="page-title">
            <div class="title_left">
                <h3>合同账务</h3>
            </div>
        </div>
        
            <div class="x_panel">
                <div class="form-inline">
                    <div class="form-group">
                        <label>租户名称：</label>
                        <input type="text" class="form-control" placeholder="租户名称" ng-model="search.secondPartyName" />
                    </div>
                    <div class="form-group">
                        <label>合同编号：</label>
                        <input type="text" class="form-control" placeholder="合同编号" ng-model="search.contractCode" />
                    </div>
                    <div class="form-group">
                        <label>状态：</label>
                        <select style="width:180px;" ng-model="search.status" class="form-control">
                            <option value="">全部</option>
                            <option value="{{x.value}}" ng-repeat="x in status">{{x.text}}</option>
                        </select>
                    </div>
                    <button class="btn btn-default" ng-click="find(1)">查询</button>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" style="color:#999999;">
                    当前存在欠费合同总数：{{arrearsCount}}，未缴合同总数：{{unpaidCount}}
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-hover" style="margin-top: 10px;color:#999999;">
                        <thead class="title">
                            <tr>
                                <th>No.</th>
                                <th>租户名称</th>
                                <th>合同编号</th>
                                <th>租金模式</th>
                                <th>应收总额</th>
                                <th>已收总额</th>
                                <th>减免总额</th>
                                <th>未收总额</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="pageModel.data.length == 0"><td colspan="100" class="text-center">暂无记录</td></tr>
                            <tr style="color:#333333;" ng-repeat="x in pageModel.data">
                                <td class="text-center">{{$index + 1+pageModel.pageSize*pageModel.pageIndex}}</td>
                                <td>{{x.secondPartyName}}</td>
                                <td>{{x.contractCode}}</td>
                                <td>{{x.rentalModal|finacialModal}}</td>
                                <td>{{x.receivableAmount| number:2}}</td>
                                <td>{{x.receiveAmount| number:2}}</td>
                                <td>{{x.reliefAmount| number:2}}</td>
                                <td>{{x.unreceiveAmount| number:2}}</td>
                                <td>{{x.status|contractStatus}}</td>
                                <td>
                                    <a href='javascript:void(0)' ng-click="receiv(x.contractId)"
                                       class='btn btn-xs'
                                       ng-show="x.unreceiveAmount>0">
                                        收款
                                    </a>
                                    <a href='javascript:void(0)' ng-click="refund(x.contractId)"
                                       class='btn btn-xs'
                                       ng-show="x.unreceiveAmount>0">
                                        减免
                                    </a>
                                    <a href='javascript:void(0)' ng-click="check(x.contractId)"
                                       class='btn btn-xs'>
                                        查看
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="page-footer clearfix">
                        <ng-include src="'/common/pager.html'" class="ng-scope" ng-if="pageModel.data.length != 0">
                            <style type="text/css" class="ng-scope">
                                .pagination>li>span:hover {
                                    background-color: #fff;
                                    cursor: text
                                }
                            </style>
                        </ng-include>
                    </div>
                </div>
            </div>
        
    </div>
</body>

</html>
