<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>财务平台</title>
    <link rel="stylesheet" href="rental/rent.css">
</head>

<body>
    <div id="angularId" ng-controller="contractRefundCtrl">
        <div class="page-title">
            <div class="title_left">
                <h3>退款</h3>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading" style="color:#999999;">收款信息</div>
                <div class="panel-body">
                    <table style="color:#999999;border: 1px solid #ddd;width: 100%;">
                        <tbody>
                            <tr style="color:#333333; height: 30px;">
                                <td style="border: 1px solid #ddd;color: #999999;font-weight: bold;">租户名称：</td>
                                <td style="border: 1px solid #ddd;">{{list.secondPartyName}}</td>
                                <td style="border: 1px solid #ddd;color: #999999;font-weight: bold;">收款日期：</td>
                                <td style="border: 1px solid #ddd;">{{list.receiveDate}}</td>
                                <td style="border: 1px solid #ddd;color: #999999;font-weight: bold;">收款方式：</td>
                                <td style="border: 1px solid #ddd;">{{list.paymentMethod| pamodel}}</td>
                                <td style="border: 1px solid #ddd;color: #999999;font-weight: bold;">应缴总额：</td>
                                <td style="border: 1px solid #ddd;">{{list.payableAmount| number:2}}</td>
                            </tr>
                            <tr style="color:#333333; height: 30px;">
                                <td style="border: 1px solid #ddd;color: #999999;font-weight: bold;">收款金额：</td>
                                <td style="border: 1px solid #ddd;">{{list.receiveAmount| number:2}}</td>
                                <td style="border: 1px solid #ddd;color: #999999;font-weight: bold;">预收金额：</td>
                                <td style="border: 1px solid #ddd;">{{list.advanceAmount| number:2}}</td>
                                <td style="border: 1px solid #ddd;color: #999999;font-weight: bold;">收款账户：</td>
                                <td style="border: 1px solid #ddd;">{{list.receiveAccount}}</td>
                                <td style="border: 1px solid #ddd;color: #999999;font-weight: bold;">收款银行：</td>
                                <td style="border: 1px solid #ddd;">{{list.receiveBank}}</td>
                            </tr>
                            <tr style="color:#333333; height: 30px;">
                                <td style="border: 1px solid #ddd;color: #999999;font-weight: bold;">付款账户：</td>
                                <td style="border: 1px solid #ddd;">{{list.payAccount}}</td>
                                <td style="border: 1px solid #ddd;color: #999999;font-weight: bold;">付款人：</td>
                                <td style="border: 1px solid #ddd;">{{list.payUser}}</td>
                                <td style="border: 1px solid #ddd;color: #999999;font-weight: bold;">是否开票：</td>
                                <td style="border: 1px solid #ddd;">{{list.isInvoice| invoice}}</td>
                                <td style="border: 1px solid #ddd;color: #999999;font-weight: bold;">发票号：</td>
                                <td style="border: 1px solid #ddd;">{{list.invoiceNo}}</td>
                            </tr>
                            <tr style="color:#333333; height: 30px;">
                                <td style="border: 1px solid #ddd;color: #999999;font-weight: bold;">收款人：</td>
                                <td style="border: 1px solid #ddd;">{{list.receiveUserName}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <!--<ul class="basaMsg_ul">
                        <li class="form-group">
                            <label>租户名称：</label>
                            <span>{{list.secondPartyName}}</span>
                        </li>
                        <li class="form-group">
                            <label>收款日期：</label>
                            <span>{{list.receiveDate}}</span>
                        </li>
                        <li class="form-group">
                            <label>收款方式：</label>
                            <span>{{list.paymentMethod| pamodel}}</span>
                        </li>
                        <li class="form-group">
                            <label>应缴总额：</label>
                            <span>{{list.payableAmount| number:2}}</span>
                        </li>
                        <li class="form-group">
                            <label>收款金额：</label>
                            <span>{{list.receiveAmount| number:2}}</span>
                        </li>
                        <li class="form-group">
                            <label>预收金额：</label>
                            <span>{{list.advanceAmount| number:2}}</span>
                        </li>
                        <li class="form-group">
                            <label>收款账户：</label>
                            <span>{{list.receiveAccount}}</span>
                        </li>
                        <li class="form-group">
                            <label>收款银行：</label>
                            <span>{{list.receiveBank}}</span>
                        </li>
                        <li class="form-group">
                            <label>付款账户：</label>
                            <span>{{list.payAccount}}</span>
                        </li>
                        <li class="form-group">
                            <label>付款人：</label>
                            <span>{{list.payUser}}</span>
                        </li>
                        <li class="form-group">
                            <label>是否开票：</label>
                            <span>{{list.isInvoice| invoice}}</span>
                        </li>
                        <li class="form-group">
                            <label>发票号：</label>
                            <span>{{list.invoiceNo}}</span>
                        </li>
                        <li class="form-group">
                            <label>收款人：</label>
                            <span>{{list.receiveUserName}}</span>
                        </li>
                    </ul>-->
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" style="color:#999999;">退款信息</div>
                <div class="panel-body">
                    <ul class="basaMsg_ul">
                        <li class="form-group">
                            <label>退款人：</label>
                            <span>{{returnUserName}}</span>
                        </li>
                        <li class="form-group">
                            <label class="required">退款日期：</label>
                            <input type="datetime" class="form-control Wdate" ng-model="form.returnDate" style="width:auto" onchange=""
                                   onclick="javascript:WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'%y-%M-%d'})">
                        </li>
                        <li class="form-group">
                            <label>可退金额：</label>
                            <span>{{list.refundableAmount| number:2}}</span>
                        </li>
                        <li class="form-group">
                            <label class="required">退款总额：</label>
                            <input ng-model="aform.returnTotalAmount"
                                   step="0.01" type="number"
                                   style="width:auto" class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                                   ng-model-options="{ getterSetter: true }"
                                   ng-change="receivechange(aform.returnTotalAmount)"
                                   min="0" max="{{list.refundableAmount}}"
                                    ng-pattern="/^(([1-9][0-9]*)|(([0]\.\d{1,2}|[1-9][0-9]*\.\d{1,2})))$/"
                                   >
                        </li>
                        <li class="form-group">
                            <label>退款原因：</label>
                           <textarea ng-model="form.returnReason"></textarea>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" style="color:#999999;">退款明细（不含预收）</div>
                <div class="panel-body">
                    <table class="table table-striped table-hover" style="margin-top: 10px;color:#999999;">
                        <thead class="title">
                            <tr>
                                <th>费项名称</th>
                                <th>应收日期</th>
                                <th>租赁资源</th>
                                <th>应收总额</th>
                                <th>可退总额</th>
                                <th>退款金额</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="pageModel.length == 0"><td colspan="100" class="text-center">暂无退款明细</td></tr>
                            <tr style="color:#333333;" ng-repeat="x in pageModel">
                                <td>{{x.expenditureName||'租金'}}</td>
                                <td>{{x.dateReceivable}}</td>
                                <td>{{x.houseName}}</td>
                                <td>{{x.billPrice| number:2}}</td>
                                <td>{{x.depositRemain| number:2}}</td>
                                <td>
                                    <input type="number" step="0.01"
                                           ng-model="thisPay[$index]"
                                           min="0" max="{{x.depositRemain}}"
                                           ng-change="addpay(thisPay[$index])"
                                           style="width:100px;"
                                           ng-pattern="/^(([1-9][0-9]*)|(([0]\.\d{1,2}|[1-9][0-9]*\.\d{1,2})))$/"
                                           />
                                </td>
                            </tr>
                            <tr style="color:#333333;"  ng-if="pageModel.length != 0">
                                <td>合计</td>
                                <td></td>
                                <td></td>
                                <td>{{billPriceTotal| number:2}}</td>
                                <td>{{depositRemainTotal| number:2}}</td>
                                <td>{{thisPayTotal| number:2}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary saveParkSteward" ng-click="save(form)" >保存并提交</button>
            <button class="btn btn-warning" ng-click="cancel()">关闭</button>
        </div>
    </div>
</body>

</html>
