<!-- 巡检验收事项（标准）设置 -->
<div class="inspection-check" id="angularId">
    <insp-check-app></insp-check-app>
</div>

<!-- 分页组件 -->
<!-- <script src="../view/decoration/common/pagination/pagination.js"></script> -->
<!-- confirm组件 -->
<script src="../view/decoration/common/confirmModal/confirm.js"></script>
<!-- autoFocus指令 -->
<script src="../view/decoration/common/directives.js"></script>
<!-- 公共服务 -->
<!-- <script src="../view/decoration/common/service.js"></script> -->

<!-- todomvc 组件 -->
<!-- <script src="../view/decoration/common/todomvc/todoMvc.js"></script> -->