<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h4 class="modal-title">查看图片</h4>
</div>
<div class="modal-body" min-height="500px">
    <div id="showCarouselPhotos" class="carousel slide">
	    <ol class="carousel-indicators">
	        <li data-target="#showCarouselPhotos" data-slide-to="{{$index}}" ng-if="$index == 0" class="active" ng-repeat="item in carouselPhotos"></li>
	        <li data-target="#showCarouselPhotos" data-slide-to="{{$index}}" ng-if="$index != 0"  ng-repeat="item in carouselPhotos"></li>
	    </ol>   
	    <div class="carousel-inner">
	        <div class="item active" ng-repeat="item in carouselPhotos" ng-if="$index == 0">
	            <img src="{{item}}">
	        </div>
	        <div class="item" ng-repeat="item in carouselPhotos" ng-if="$index != 0">
                <img src="{{item}}">
            </div>
             <div ng-if="carouselPhotos.length == '0'">
	            <img src="../image/no-img.png">
	        </div>
	    </div>
	    <a class="left carousel-control" href="#showCarouselPhotos" role="button" data-slide="prev">
	        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	        <span class="sr-only">Previous</span>
	    </a>
	    <a class="right carousel-control" href="#showCarouselPhotos" role="button" data-slide="next">
	        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	        <span class="sr-only">Next</span>
	    </a>
	</div> 
</div>
<style>
	.carousel-inner img{
		width:568px !important;
		height:426px !important;
	}
</style>