<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()">×</button>
	<h4 class="modal-title">查看租户信息</h4>
</div>
 <div class="modal-body container-fluid form-horizontal">
	 <div class="x_panel" >  
	 	<!-- <div class="form-inline" style="margin-left:10px;">
			<div class="form-group">				
				 <select class="form-control" ng-model="search.firstPartyType">
					<option ng-repeat="item in renterTypeList" value={{item[0]}}>{{item[1]}}</option>
				</select> 
			</div>
			<button class="btn btn-default pull-right" ng-click="find(1,search.userType)" >查询</button>
		</div>	 -->            									
		<table class="table table-striped table-hover">
			<thead class="title">
				<tr>					
					<th class="text-center">No.</th>
					<th>租户类型</th>
					<th>租户名称</th>
					<th>联系人</th>
					<th>联系方式</th>
				</tr>
			</thead>
			<tbody>
			 <tr ng-if="!pageModel.data||pageModel.data.length == 0"><td colspan="100" class="text-center">暂无记录</td></tr> 
				 <tr ng-repeat="item in pageModel.data">
					<td class="text-center">{{$index + 1+pageModel.pageSize*pageModel.pageIndex}}</td>
					<td>{{item.userType|keyToValue:accountTypeList||'--'}}</td>
					<td>{{item.customerName||'--'}}</td>
					<td>{{item.contactMan||'--'}}</td>						
					<td>{{item.phone||'--'}}</td>
				</tr>							
			</tbody>
		</table>
		<div class="page-footer clearfix" style="margin-left:8%;margin-top:-20px;">
			<ng-include src="'/common/pager.html'" class="ng-scope">
				<style type="text/css" class="ng-scope">
					.pagination>li>span:hover{background-color: #fff;cursor:text}
				</style>
			</ng-include>
		  </div>	
	</div>
</div>
